---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "5"
            start:
                - "0"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?start=0&limit=5
        method: GET
      response:
        body: '[{"activityId":21661023200,"activityName":"Saint-Pierre - Base","startTimeLocal":"2026-01-25 17:59:36","startTimeGMT":"2026-01-25 13:59:36","activityType":{"typeId":1,"typeKey":"running","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":5692.080078125,"duration":2356.998046875,"elapsedDuration":2356.998046875,"movingDuration":2346.678985595703,"elevationGain":66.0,"elevationLoss":65.0,"averageSpeed":2.4149999618530273,"maxSpeed":3.190999984741211,"startLatitude":-21.335712829604745,"startLongitude":55.47850004397333,"hasPolyline":true,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"anonymous","ownerFullName":"Anonymous User","ownerProfileImageUrlSmall":"https://example.com/profile.png","ownerProfileImageUrlMedium":"https://example.com/profile.png","ownerProfileImageUrlLarge":"https://example.com/profile.png","calories":437.0,"bmrCalories":58.0,"averageHR":143.0,"maxHR":160.0,"averageRunningCadenceInStepsPerMinute":149.609375,"maxRunningCadenceInStepsPerMinute":173.0,"steps":5912,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER"],"privacy":{"typeId":2,"typeKey":"private"},"userPro":false,"hasVideo":false,"timeZoneId":125,"beginTimestamp":1769349576000,"sportTypeId":1,"avgPower":256.0,"maxPower":417.0,"aerobicTrainingEffect":3.4000000953674316,"anaerobicTrainingEffect":0.0,"normPower":269.0,"avgVerticalOscillation":8.26999969482422,"avgGroundContactTime":290.0,"avgStrideLength":95.74000244140626,"vO2MaxValue":47.0,"avgVerticalRatio":8.619999885559082,"deviceId":12345678,"minElevation":10.199999809265137,"maxElevation":65.80000305175781,"maxDoubleCadence":173.0,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":0.40000152587890625,"manufacturer":"GARMIN","locationName":"Saint-Pierre","lapCount":6,"endLatitude":-21.335860015824437,"endLongitude":55.478105088695884,"waterEstimated":654.0,"minRespirationRate":23.940000534057617,"maxRespirationRate":40.41999816894531,"avgRespirationRate":33.060001373291016,"trainingEffectLabel":"AEROBIC_BASE","activityTrainingLoad":94.60015869140625,"minActivityLapDuration":313.9670104980469,"aerobicTrainingEffectMessage":"IMPROVING_AEROBIC_BASE_8","anaerobicTrainingEffectMessage":"NO_ANAEROBIC_BENEFIT_0","splitSummaries":[{"noOfSplits":1,"totalAscent":0.0,"duration":4.999000072479248,"splitType":"RWD_STAND","numClimbSends":0,"maxElevationGain":0.0,"averageElevationGain":0.0,"maxDistance":4,"distance":4.829999923706055,"averageSpeed":0.9660000205039978,"maxSpeed":0.0,"numFalls":0,"elevationLoss":0.0},{"noOfSplits":1,"totalAscent":66.0,"duration":2356.998046875,"splitType":"INTERVAL_ACTIVE","numClimbSends":0,"maxElevationGain":66.0,"averageElevationGain":66.0,"maxDistance":5692,"distance":5692.080078125,"averageSpeed":2.4149999618530273,"maxSpeed":3.190999984741211,"numFalls":0,"elevationLoss":65.0},{"noOfSplits":2,"totalAscent":14.0,"duration":1816.0009765625,"splitType":"RWD_RUN","numClimbSends":0,"maxElevationGain":14.0,"averageElevationGain":7.0,"maxDistance":4813,"distance":4828.64013671875,"averageSpeed":2.6589999198913574,"maxSpeed":3.190999984741211,"numFalls":0,"elevationLoss":65.0},{"noOfSplits":4,"totalAscent":52.0,"duration":535.9829711914062,"splitType":"RWD_WALK","numClimbSends":0,"maxElevationGain":30.0,"averageElevationGain":13.0,"maxDistance":554,"distance":858.6099853515625,"averageSpeed":1.6019999980926514,"maxSpeed":2.127000093460083,"numFalls":0,"elevationLoss":0.0}],"hasSplits":true,"moderateIntensityMinutes":5,"vigorousIntensityMinutes":33,"avgGradeAdjustedSpeed":2.4639999866485596,"differenceBodyBattery":-8,"hasHeatMap":false,"fastestSplit_1000":352.70098876953125,"fastestSplit_1609":574.0819702148438,"fastestSplit_5000":1921.905029296875,"hrTimeInZone_1":2.999,"hrTimeInZone_2":174.002,"hrTimeInZone_3":1492.904,"hrTimeInZone_4":664.977,"hrTimeInZone_5":0.0,"powerTimeInZone_1":799.994,"powerTimeInZone_2":882.957,"powerTimeInZone_3":72.989,"powerTimeInZone_4":36.0,"powerTimeInZone_5":4.0,"endTimeGMT":"2026-01-25 14:38:52","qualifyingDive":false,"activityUUID":"e4ed3e69-d34e-477f-80d0-dddda2da652f","pr":false,"autoCalcCalories":false,"favorite":false,"decoDive":false,"elevationCorrected":false,"atpActivity":false,"purposeful":false,"manualActivity":false,"parent":false},{"activityId":21650901486,"activityName":"Saint-Pierre - Base","startTimeLocal":"2026-01-24 18:03:45","startTimeGMT":"2026-01-24 14:03:45","activityType":{"typeId":1,"typeKey":"running","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":5715.14013671875,"duration":2401.76611328125,"elapsedDuration":2402.35400390625,"movingDuration":2400.238983154297,"elevationGain":67.0,"elevationLoss":65.0,"[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21661023200
        method: GET
      response:
        body: '{"activityId":21661023200,"activityUUID":{"uuid":"e4ed3e69-d34e-477f-80d0-dddda2da652f"},"activityName":"Saint-Pierre - Base","userProfileId":12345678,"isMultiSportParent":false,"activityTypeDTO":{"typeId":1,"typeKey":"running","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventTypeDTO":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"accessControlRuleDTO":{"typeId":2,"typeKey":"private"},"timeZoneUnitDTO":{"unitId":12345678,"unitKey":"Asia/Dubai","factor":0.0,"timeZone":"Asia/Dubai"},"metadataDTO":{"isOriginal":true,"deviceApplicationInstallationId":1004830,"agentApplicationInstallationId":null,"agentString":null,"fileFormat":{"formatId":7,"formatKey":"fit"},"associatedCourseId":null,"lastUpdateDate":"2026-01-25T14:41:11.0","uploadedDate":"2026-01-25T14:41:11.0","videoUrl":null,"hasPolyline":true,"hasChartData":true,"hasHrTimeInZones":true,"hasPowerTimeInZones":true,"userInfoDto":{"userProfilePk":12345678,"displayname":"anonymous","fullname":"Anonymous User","profileImageUrlLarge":"https://example.com/profile.png","profileImageUrlMedium":"https://example.com/profile.png","profileImageUrlSmall":"https://example.com/profile.png","userPro":false},"childIds":[],"childActivityTypes":[],"sensors":[{"manufacturer":"POLAR_ELECTRO","serialNumber":650095193,"sourceType":"ANTPLUS","antplusDeviceType":"HEART_RATE","softwareVersion":1.0,"batteryStatus":"OK","batteryLevel":80}],"activityImages":[],"manufacturer":"GARMIN","diveNumber":null,"lapCount":6,"associatedWorkoutId":null,"isAtpActivity":null,"deviceMetaDataDTO":{"deviceId":"3490854130","deviceTypePk":37086,"deviceVersionPk":1004830},"hasIntensityIntervals":false,"hasSplits":true,"eBikeMaxAssistModes":null,"eBikeBatteryUsage":null,"eBikeBatteryRemaining":null,"eBikeAssistModeInfoDTOList":null,"hasRunPowerWindData":true,"calendarEventInfo":null,"groupRideUUID":null,"hasHeatMap":false,"specializedWorkoutCategories":["FBT_ADAPTIVE"],"trainingPlanId":43905421,"personalRecord":false,"gcj02":false,"runPowerWindDataEnabled":true,"manualActivity":false,"trimmed":false,"autoCalcCalories":false,"favorite":false,"elevationCorrected":false},"summaryDTO":{"startTimeLocal":"2026-01-25T17:59:36.0","startTimeGMT":"2026-01-25T13:59:36.0","startLatitude":-21.335712829604745,"startLongitude":55.47850004397333,"distance":5692.08,"duration":2356.998,"movingDuration":2346.679,"elapsedDuration":2356.998,"elevationGain":66.0,"elevationLoss":65.0,"maxElevation":65.8,"minElevation":10.2,"averageSpeed":2.4149999618530273,"averageMovingSpeed":2.425589572780901,"maxSpeed":3.190999984741211,"calories":437.0,"bmrCalories":58.0,"averageHR":143.0,"maxHR":160.0,"minHR":85.0,"averageRunCadence":149.609375,"maxRunCadence":173.0,"averagePower":256.0,"maxPower":417.0,"minPower":0.0,"normalizedPower":269.0,"totalWork":144.15205655342936,"groundContactTime":290.0,"strideLength":95.74000244140626,"verticalOscillation":8.26999969482422,"trainingEffect":3.4000000953674316,"anaerobicTrainingEffect":0.0,"aerobicTrainingEffectMessage":"IMPROVING_AEROBIC_BASE_8","anaerobicTrainingEffectMessage":"NO_ANAEROBIC_BENEFIT_0","verticalRatio":8.619999885559082,"endLatitude":-21.335860015824437,"endLongitude":55.478105088695884,"maxVerticalSpeed":0.40000152587890625,"waterEstimated":654.0,"minRespirationRate":23.940000534057617,"maxRespirationRate":40.41999816894531,"avgRespirationRate":33.060001373291016,"trainingEffectLabel":"AEROBIC_BASE","activityTrainingLoad":94.60015869140625,"minActivityLapDuration":313.967,"directWorkoutFeel":50,"directWorkoutRpe":40,"directWorkoutComplianceScore":85,"moderateIntensityMinutes":5,"vigorousIntensityMinutes":33,"steps":5912,"beginPotentialStamina":100.0,"endPotentialStamina":63.0,"minAvailableStamina":63.0,"avgGradeAdjustedSpeed":2.4639999866485596,"differenceBodyBattery":-8},"locationName":"Saint-Pierre","splitSummaries":[{"distance":4.83,"duration":4.999,"movingDuration":0.0,"elevationGain":0.0,"elevationLoss":0.0,"averageSpeed":0.9660000205039978,"maxSpeed":0.0,"calories":0.0,"bmrCalories":0.0,"averageHR":143.0,"maxHR":143.0,"averageRunCadence":0.0,"maxRunCadence":0.0,"averagePower":0.0,"maxPower":0.0,"normalizedPower":104.0,"totalExerciseReps":0,"avgVerticalSpeed":0.0,"avgGradeAdjustedSpeed":0.0,"splitType":"RWD_STAND","noOfSplits":1,"maxElevationGain":0.0,"averageElevationGain":0.0,"maxDistance":4,"maxDistanceWithPrecision":4.83,"avgStepFrequency":0.0},{"distance":5692.08,"duration":2356.998,"movingDuration":2346.0,"elevationGain":66.0,"elevationLoss":65.0,"averageSpeed":2.4149999618530273,"averageMovingSpeed":2.4262915934036657,"maxSpeed":3.190999984741211,"calories":437.0,"bmrCalories":58.0,"averageHR":143.0,"maxHR":160.0,"averageRunCadence":149.609375,"maxRunCadence":173.0,"averagePower":256.0,"maxPower":417.0,"normalizedPower":269.0,"groundContactTime":290.0,"strideLength":95.74000244140626,"verticalOscillation":8.26999969482422,"verticalRatio":8.619999885559082,"totalExerciseReps":0,"avgVerticalSpeed":0.0010000000474974513,"avgGradeAdjustedSpeed":2.4639999866485596,"splitType":"INTERVAL_ACTIVE","noOfSplits":1,"maxElevationGain":66.0,"averageElevationGain":66.0,"maxDistance":5692,"maxDistanceWithPrecision":5692.08,"avgStepFrequency":149.609375,"avgStepLength":957.4000244140625},{"distance":4828.64,"duration":1816.001,"movingDuration":1814.0,"elevationGain":14.0,"elevationLoss":65.0,"averageSpeed":2.6589999198913574,"averageMovingSpeed":2.6614647632891377,"maxSpeed":3.190999984741211,"calories":359.0,"bmrCalories":44.0,"averageHR":144.0,"maxHR":160.0,"averageRunCadence":161.5,"maxRunCadence":173.0,"averagePower":280.0,"maxPower":417.0,"normalizedPower":283.0,"groundContactTime":290.0,"strideLength":99.04000244140626,"verticalOscillation":8.9,"vertical[...]
    - id: 2
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21661023200/splits
        method: GET
      response:
        body: '{"activityId":21661023200,"lapDTOs":[{"startTimeGMT":"2026-01-25T13:59:36.0","startLatitude":-21.335712829604745,"startLongitude":55.47850004397333,"distance":1000.0,"duration":367.735,"movingDuration":367.0,"elapsedDuration":367.735,"elevationGain":10.0,"elevationLoss":25.0,"maxElevation":62.4,"minElevation":45.4,"averageSpeed":2.7190001010894775,"averageMovingSpeed":2.724795640326975,"maxSpeed":3.0320000648498535,"calories":69.0,"bmrCalories":9.0,"averageHR":129.0,"maxHR":145.0,"averageRunCadence":158.0625,"maxRunCadence":169.0,"averagePower":287.0,"maxPower":417.0,"minPower":0.0,"normalizedPower":299.0,"totalWork":25.298208600436276,"groundContactTime":291.20001220703125,"strideLength":101.72999877929688,"verticalOscillation":9.10999984741211,"verticalRatio":8.970000267028809,"endLatitude":-21.33353135548532,"endLongitude":55.47010665759444,"maxVerticalSpeed":0.40000152587890625,"maxRespirationRate":35.5,"avgRespirationRate":31.690000534057617,"directWorkoutComplianceScore":68,"avgGradeAdjustedSpeed":2.683000087738037,"lapIndex":1,"wktStepIndex":0,"lengthDTOs":[],"wktIndex":0,"connectIQMeasurement":[],"intensityType":"INTERVAL","messageIndex":0},{"startTimeGMT":"2026-01-25T14:05:44.0","startLatitude":-21.33351819589734,"startLongitude":55.47008503228426,"distance":1000.0,"duration":359.826,"movingDuration":359.826,"elapsedDuration":359.826,"elevationGain":1.0,"elevationLoss":24.0,"maxElevation":45.8,"minElevation":23.0,"averageSpeed":2.7790000438690186,"averageMovingSpeed":2.7791211063426005,"maxSpeed":3.190999984741211,"calories":72.0,"bmrCalories":9.0,"averageHR":143.0,"maxHR":151.0,"averageRunCadence":164.25,"maxRunCadence":173.0,[...]
    - id: 3
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21661023200/weather
        method: GET
      response:
        body: '{"issueDate":"2026-01-25T14:00:00.000+00:00","temp":82,"apparentTemp":89,"dewPoint":75,"relativeHumidity":79,"windDirection":170,"windDirectionCompassPoint":"s","windSpeed":7,"windGust":null,"latitude":-21.321500977501273,"longitude":55.42570092715323,"weatherStationDTO":{"id":"FMEP","name":"Saint-Pierre","timezone":null},"weatherTypeDTO":{"weatherTypePk":null,"desc":"Unknown","image":null}}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 335.538656ms
    - id: 4
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21661023200/details
        method: GET
      response:
        body: '{"activityId":21661023200,"measurementCount":26,"metricsCount":261,"totalMetricsCount":2357,"metricDescriptors":[{"metricsIndex":0,"key":"sumElapsedDuration","unit":{"id":12345678,"key":"second","factor":1000.0}},{"metricsIndex":1,"key":"directLongitude","unit":{"id":12345678,"key":"dd","factor":1.0}},{"metricsIndex":2,"key":"directRunCadence","unit":{"id":12345678,"key":"stepsPerMinute","factor":1.0}},{"metricsIndex":3,"key":"directLatitude","unit":{"id":12345678,"key":"dd","factor":1.0}},{"metricsIndex":4,"key":"directDoubleCadence","unit":{"id":12345678,"key":"stepsPerMinute","factor":1.0}},{"metricsIndex":5,"key":"directFractionalCadence","unit":{"id":1[...]
    - id: 5
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21661023200/hrTimeInZones
        method: GET
      response:
        body: '[{"zoneNumber":1,"secsInZone":2.999,"zoneLowBoundary":94},{"zoneNumber":2,"secsInZone":174.002,"zoneLowBoundary":113},{"zoneNumber":3,"secsInZone":1492.904,"zoneLowBoundary":132},{"zoneNumber":4,"secsInZone":664.977,"zoneLowBoundary":150},{"zoneNumber":5,"secsInZone":0.0,"zoneLowBoundary":169}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 327.226724ms
    - id: 6
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21661023200/powerTimeInZones
        method: GET
      response:
        body: '[{"zoneNumber":1,"secsInZone":799.994,"zoneLowBoundary":225},{"zoneNumber":2,"secsInZone":882.957,"zoneLowBoundary":278},{"zoneNumber":3,"secsInZone":72.989,"zoneLowBoundary":313},{"zoneNumber":4,"secsInZone":36.0,"zoneLowBoundary":347},{"zoneNumber":5,"secsInZone":4.0,"zoneLowBoundary":399}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 313.395629ms
    - id: 7
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21661023200/exerciseSets
        method: GET
      response:
        body: '{"activityId":21661023200,"exerciseSets":null}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 325.297307ms
