---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/activityTypes
        method: GET
      response:
        body: '[{"typeId":1,"typeKey":"running","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":2,"typeKey":"cycling","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":3,"typeKey":"hiking","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":4,"typeKey":"other","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":5,"typeKey":"mountain_biking","parentTypeId":2,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":6,"typeKey":"trail_running","parentTypeId":1,"isHidden":false,"r[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "5"
            start:
                - "0"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?start=0&limit=5
        method: GET
      response:
        body: '[{"activityId":21680374805,"activityName":"Saint-Pierre - Threshold Intervals 6x2min","startTimeLocal":"2026-01-27 17:28:07","startTimeGMT":"2026-01-27 13:28:07","activityType":{"typeId":1,"typeKey":"running","parentTypeId":17,"isHidden":false,"trimmable":true,"restricted":false},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":6615.18017578125,"duration":2771.576904296875,"elapsedDuration":2771.576904296875,"movingDuration":2769.173984527588,"elevationGain":41.0,"elevationLoss":44.0,"averageSpeed":2.38700008392334,"maxSpeed":3.686000108718872,"startLatitude":-21.339040780439973,"startLongitude":55.467160837724805,"hasPolyline":true,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"anonymous","ownerFullName":"Anonymous User","ownerProfileImageUrlSmall":"https://example.com/profile.png","ownerProfileImageUrlMedium":"https://example.com/profile.png","ownerProfileImageUrlLarge":"https://example.com/profile.png","calories":465.0,"bmrCalories":68.0,"averageHR":139.0,"maxHR":171.0,"averageRunningCadenceInStepsPerMinute":140.78125,"maxRunningCadenceInStepsPerMinute":176.0,"steps":6738,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER"],"privacy":{"typeId":2,"typeKey":"private"},"userPro":false,"hasVideo":false,"timeZoneId":125,"beginTimestamp":1769520487000,"sportTypeId":1,"avgPower":238.0,"maxPower":427.0,"aerobicTrainingEffect":3.299999952316284,"anaerobicTrainingEffect":1.2000000476837158,"normPower":277.0,"avgVerticalOscillation":8.200000000000001,"avgGroundContactTime":286.79998779296875,"avgStrideLength":97.27999877929688,"vO2MaxValue":47.0,"avgVerticalRatio":8.479999542236328,"workoutId":1455872476,"deviceId":12345678,"minElevation":11.600000381469727,"maxElevation":26.399999618530273,"maxDoubleCadence":176.0,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":0.40000152587890625,"manufacturer":"GARMIN","locationName":"Saint-Pierre","lapCount":18,"endLatitude":-21.34006387554109,"endLongitude":55.466710813343525,"waterEstimated":723.0,"minRespirationRate":19.09000015258789,"maxRespirationRate":40.66999816894531,"avgRespirationRate":29.889999389648438,"trainingEffectLabel":"TEMPO","activityTrainingLoad":100.91146850585938,"minActivityLapDuration":11.57699966430664,"aerobicTrainingEffectMessage":"IMPROVING_AEROBIC_FITNESS_2","anaerobicTrainingEffectMessage":"MINOR_ANAEROBIC_BENEFIT_15","splitSummaries":[{"noOfSplits":1,"totalAscent":3.0,"duration":600.0,"splitType":"INTERVAL_WARMUP","numClimbSends":0,"maxElevationGain":3.0,"averageElevationGain":3.0,"maxDistance":1571,"distance":1571.93994140625,"averageSpeed":2.619999885559082,"maxSpeed":3.2939999103546143,"numFalls":0,"elevationLoss":13.0},{"noOfSplits":8,"totalAscent":12.0,"duration":791.5659790039062,"splitType":"RWD_WALK","numClimbSends":0,"maxElevationGain":8.0,"averageElevationGain":2.0,"maxDistance":454,"distance":1189.260009765625,"averageSpeed":1.5019999742507935,"maxSpeed":2.1459999084472656,"numFalls":0,"elevationLoss":4.0},{"noOfSplits":7,"totalAscent":29.0,"duration":1979.998046875,"splitType":"RWD_RUN","numClimbSends":0,"maxElevationGain":10.0,"averageElevationGain":4.0,"maxDistance":1975,"dist[...]
    - id: 2
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21680374805
        method: GET
      response:
        body: '{"activityId":21680374805,"activityUUID":{"uuid":"51759e58-64ff-4bcb-aa26-a6c80be56750"},"activityName":"Saint-Pierre - Threshold Intervals 6x2min","userProfileId":12345678,"isMultiSportParent":false,"activityTypeDTO":{"typeId":1,"typeKey":"running","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventTypeDTO":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"accessControlRuleDTO":{"typeId":2,"typeKey":"private"},"timeZoneUnitDTO":{"unitId":12345678,"unitKey":"Asia/Dubai","factor":0.0,"timeZone":"Asia/Dubai"},"metadataDTO":{"isOriginal":true,"deviceApplicationInstallationId":1004830,"agentApplicationInstallationId":null,"agentString":null,"fileFormat":{"formatId":7,"formatKey":"fit"},"associatedCourseId":null,"lastUpdateDate":"2026-01-27T14:38:35.0","uploadedDate":"2026-01-27T14:38:35.0","videoUrl":null,"hasPolyline":true,"hasChartData":true,"hasHrTimeInZones":true,"hasPowerTimeInZones":true,"userInfoDto":{"userProfilePk":12345678,"displayname":"anonymous","fullname":"Anonymous User","profileImageUrlLarge":"https://example.com/profile.png","profileImageUrlMedium":"https://example.com/profile.png","profileImageUrlSmall":"https://example.com/profile.png","userPro":false},"childIds":[],"childActivityTypes":[],"sensors":[{"manufacturer":"POLAR_ELECTRO","serialNumber":650095193,"sourceType":"ANTPLUS","antplusDeviceType":"HEART_RATE","softwareVersion":1.0,"batteryStatus":"OK","batteryLevel":30}],"activityImages":[],"manufacturer":"GARMIN","diveNumber":null,"lapCount":18,"associatedWorkoutId":1455872476,"isAtpActivity":null,"deviceMetaDataDTO":{"deviceId":"3490854130","deviceTypePk":37086,"deviceVersionPk":1004830},"hasIntensityIntervals":true,"hasSplits":true,"eBikeMaxAssistModes":null,"eBikeBatteryUsage":null,"eBikeBatteryRemaining":null,"eBikeAssistModeInfoDTOList":null,"hasRunPowerWindData":true,"calendarEventInfo":null,"groupRideUUID":null,"hasHeatMap":false,"personalRecord":false,"gcj02":false,"runPowerWindDataEnabled":true,"manualActivity":false,"autoCalcCalories":false,"favorite":false,"trimmed":false,"elevationCorrected":false},"summaryDTO":{"startTimeLocal":"2026-01-27T17:28:07.0","startTimeGMT":"2026-01-27T13:28:07.0","startLatitude":-21.339040780439973,"startLongitude":55.467160837724805,"distance":6615.18,"duration":2771.577,"movingDuration":2769.174,"elapsedDuration":2771.577,"elevationGain":41.0,"elevationLoss":44.0,"maxElevation":26.4,"minElevation":11.6,"averageSpeed":2.38700008392334,"averageMovingSpeed":2.388864048536762,"maxSpeed":3.686000108718872,"calories":465.0,"bmrCalories":68.0,"averageHR":139.0,"maxHR":171.0,"minHR":85.0,"averageRunCadence":140.78125,"maxRunCadence":176.0,"averagePower":238.0,"maxPower":427.0,"minPower":0.0,"normalizedPower":277.0,"totalWork":157.27848554422175,"groundContactTime":286.79998779296875,"strideLength":97.27999877929688,"verticalOscillation":8.200000000000001,"trainingEffect":3.299999952316284,"anaerobicTrainingEffect":1.2000000476837158,"aerobicTrainingEffectMessage":"IMPROVING_AEROBIC_FITNESS_2","anaerobicTrainingEffectMessage":"MINOR_ANAEROBIC_BENEFIT_15","verticalRatio":8.479999542236328,"endLatitude":-21.34006387554109,"endLongitude":55.466710813343525,"maxVerticalSpeed":0.40000152587890625,"waterEstimated":723.0,"minRespirationRate":19.09000015258789,"maxRespirationRate":40.66999816894531,"avgRespirationRate":29.889999389648438,"trainingEffectLabel":"TEMPO","activityTrainingLoad":100.91146850585938,"minActivityLapDuration":11.577,"directWorkoutFeel":75,"directWorkoutRpe":60,"directWorkoutComplianceScore":76,"moderateIntensityMinutes":10,"vigorousIntensityMinutes":33,"steps":6738,"beginPotentialStamina":100.0,"endPotentialStamina":62.0,"minAvailableStamina":62.0,"avgGradeAdjustedSpeed":2.4070000648498535,"differenceBodyBattery":-9},"locationName":"Saint-Pierre","splitSummaries":[{"distance":1571.94,"duration":600.0,"movingDuration":599.0,"elevationGain":3.0,"elevationLoss":13.0,"averageSpeed":2.619999885559082,"averageMovingSpeed":2.6242736918301337,"maxSpeed":3.2939999103546147,"calories":107.0,"bmrCalories":15.0,"averageHR":130.0,"maxHR":148.0,"averageRunCadence":158.53125,"maxRunCadence":163.0,"averagePower":278.0,"maxPower":364.0,"normalizedPower":280.0,"groundContactTime":297.0,"strideLength":99.35999755859376,"verticalOscillation":9.11999969482422,"verticalRatio":9.199999809265137,"totalExerciseReps":0,"avgVerticalSpeed":0.0,"avgGradeAdjustedSpeed":2.5859999656677246,"splitType":"INTERVAL_WARMUP","noOfSplits":1,"maxElevationGain":3.0,"averageElevationGain":3.0,"maxDistance":1571,"maxDistanceWithPrecision":1571.94,"avgStepFrequency":158.53125,"avgStepLength":993.5999755859375},{"distance":1189.26,"duration":791.566,"movingDuration":783.563,"elevationGain":12.0,"elevationLoss":4.0,"averageSpeed":1.5019999742507935,"averageMovingSpeed":1.5203505092822096,"maxSpeed":2.1459999084472656,"calories":87.0,"bmrCalories":19.0,"averageHR":127.0,"maxHR":159.0,"averageRunCadence":92.09375,"maxRunCadence":167.0,"averagePower":99.0,"maxPower":186.0,"normalizedPower":147.0,"strideLength":79.42000122070313,"verticalOscillation":5.940000152587891,"verticalRatio":7.53[...]
    - id: 3
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21680374805/splits
        method: GET
      response:
        body: '{"activityId":21680374805,"lapDTOs":[{"startTimeGMT":"2026-01-27T13:28:07.0","startLatitude":-21.339040780439973,"startLongitude":55.467160837724805,"distance":1000.0,"duration":377.9,"movingDuration":377.9,"elapsedDuration":377.9,"elevationGain":0.0,"elevationLoss":13.0,"maxElevation":26.4,"minElevation":12.8,"averageSpeed":2.6459999084472656,"averageMovingSpeed":2.6462027418659426,"maxSpeed":3.2939999103546147,"calories":66.0,"bmrCalories":9.0,"averageHR":126.0,"maxHR":136.0,"averageRunCadence":157.875,"maxRunCadence":161.0,"averagePower":274.0,"maxPower":364.0,"minPower":70.0,"normalizedPower":277.0,"totalWork":24.820883909862008,"groundContactTime":296.8999938964844,"strideLength":100.42000122070313,"verticalOscillation":9.15999984741211,"verticalRatio":9.15999984741211,"endLatitude":-21.340618757531047,"endLongitude":55.460611302405596,"maxVerticalSpeed":0.20000076293945312,"maxRespirationRate":33.38999938964844,"avgRespirationRate":28.75,"directWorkoutComplianceScore":100,"avgGradeAdjustedSpeed":2.5690000057220455,"lapIndex":1,"wktStepIndex":0,"lengthDTOs":[],"wktIndex":0,"connectIQMeasurement":[],"intensityType":"WARMUP","messageIndex":0},{"startTimeGMT":"2026-01-27T13:34:26.0","startLatitude":-21.340601490810513,"startLongitude":55.46058850362897,"distance":571.93,"duration":222.1,"movingDuration":222.0,"elapsedDuration":222.1,"elevationGain":3.0,"elevationLoss":0.0,"maxElevation":16.2,"minElevation":12.2,"averageSpeed":2.575000047683716,"averageMovingSpeed":2.5762612282692845,"maxSpeed":2.668999910354614,"calories":41.0,"bmrCalories":5.0,"averageHR":138.0,"maxHR":148.0,"averageRunCadence":159.6875,"maxRunCadence":163.0,"aver[...]
    - id: 4
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21680374805/weather
        method: GET
      response:
        body: '{"issueDate":"2026-01-27T13:30:00.000+00:00","temp":82,"apparentTemp":88,"dewPoint":73,"relativeHumidity":74,"windDirection":180,"windDirectionCompassPoint":"s","windSpeed":7,"windGust":null,"latitude":-21.321500977501273,"longitude":55.42570092715323,"weatherStationDTO":{"id":"FMEP","name":"Saint-Pierre","timezone":null},"weatherTypeDTO":{"weatherTypePk":null,"desc":"Mostly Cloudy","image":null}}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 316.169882ms
    - id: 5
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21680374805/details
        method: GET
      response:
        body: '{"activityId":21680374805,"measurementCount":26,"metricsCount":255,"totalMetricsCount":2773,"metricDescriptors":[{"metricsIndex":0,"key":"sumDuration","unit":{"id":12345678,"key":"second","factor":1000.0}},{"metricsIndex":1,"key":"sumAccumulatedPower","unit":{"id":12345678,"key":"watt","factor":1.0}},{"metricsIndex":2,"key":"directVerticalRatio","unit":{"id":12345678,"key":"dimensionless","factor":1.0}},{"metricsIndex":3,"key":"directElevation","unit":{"id":12345678,"key":"meter","factor":100.0}},{"metricsIndex":4,"key":"directSpeed","unit":{"id":12345678,"key":"mps","factor":0.1}},{"metricsIndex":5,"key":"directTimestamp","unit":{"id":12345678,"key"[...]
    - id: 6
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21680374805/hrTimeInZones
        method: GET
      response:
        body: '[{"zoneNumber":1,"secsInZone":78.377,"zoneLowBoundary":94},{"zoneNumber":2,"secsInZone":778.302,"zoneLowBoundary":113},{"zoneNumber":3,"secsInZone":1216.936,"zoneLowBoundary":132},{"zoneNumber":4,"secsInZone":643.552,"zoneLowBoundary":150},{"zoneNumber":5,"secsInZone":23.373,"zoneLowBoundary":169}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 330.244861ms
    - id: 7
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21680374805/powerTimeInZones
        method: GET
      response:
        body: '[{"zoneNumber":1,"secsInZone":767.984,"zoneLowBoundary":225},{"zoneNumber":2,"secsInZone":429.97,"zoneLowBoundary":278},{"zoneNumber":3,"secsInZone":312.558,"zoneLowBoundary":313},{"zoneNumber":4,"secsInZone":315.366,"zoneLowBoundary":347},{"zoneNumber":5,"secsInZone":42.186,"zoneLowBoundary":399}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 320.57108ms
    - id: 8
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21680374805/exerciseSets
        method: GET
      response:
        body: '{"activityId":21680374805,"exerciseSets":null}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 314.980038ms
    - id: 9
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21680374805/typedsplits
        method: GET
      response:
        body: '{"activityId":21680374805,"activityUUID":{"uuid":"51759e58-64ff-4bcb-aa26-a6c80be56750"},"splits":[{"startTimeLocal":"2026-01-27T17:28:07.0","startTimeGMT":"2026-01-27T13:28:07.0","startLatitude":-21.339040780439973,"startLongitude":55.467160837724805,"distance":13.97,"duration":8.001,"movingDuration":6.0,"elapsedDuration":8.001,"elevationGain":0.0,"elevationLoss":0.0,"averageSpeed":1.746000051498413,"averageMovingSpeed":2.3283333778381348,"maxSpeed":1.781999945640564,"calories":1.0,"bmrCalories":0.0,"averageHR":87.0,"maxHR":90.0,"averageRunCadence":116.25,"maxRunCadence":158.0,"averagePower":100.0,"maxPower":118.0,"strideLength":85.42000122070313,"verticalOscillation":5.840000152587891,"verticalRatio":7.090000152587891,"totalExerciseReps":0,"endLatitude":-21.339143374934793,"endLongitude":55.467082718387246,"avgVerticalSpeed":0.0,"avgGradeAdjustedSpeed":1.421000003814697,"avgElapsedDurationVerticalSpeed":-0.10000006357828777,"type":"RWD_WALK","messageIndex":0,"endTimeGMT":"2026-01-27T13:28:14.0","startElevation":14.6,"avgStepLength":854.2000122070312},{"startTimeLocal":"2026-01-27T17:28:07.0","startTimeGMT":"2026-01-27T13:28:07.0","startLatitude":-21.339040780439973,"startLongitude":55.467160837724805,"distance":1571.94,"duration":600.0,"movingDuration":599.0,"elapsedDuration":600.0,"elevationGain":3.0,"elevationLoss":13.0,"averageSpeed":2.619999885559082,"averageMovingSpeed":2.6242736918301337,"maxSpeed":3.2939999103546147,"calories":107.0,"bmrCalories":15.0,"averageHR":130.0,"maxHR":148.0,"averageRunCadence":158.53125,"maxRunCadence":163.0,"averagePower":278.0,"maxPower":364.0,"normalizedPower":280.0,"groundContactTime":297.0,"strideLength":99.35999755859376,"verticalOscillation":9.11999969482422,"verticalRatio":9.199999809265137,"totalExerciseReps":0,"endLatitude":-21.336830221116543,"endLongitude":55.45711495913565,"avgVerticalSpeed":-0.01600000075995922,"avgGradeAdjustedSpeed":2.5859999656677246,"avgElapsedDurationVerticalSpeed":-0.017362269813906966,"type":"INTERVAL_WARMUP","messageIndex":1,"lapIndexes":[1,2],"endTimeGMT":"2026-01-27T13:38:07.0","startElevation":14.6,"avgStepLength":993.5999755859375},{"startTimeLocal":"2026-01-27T17:28:15.0","startTimeGMT":"2026-01-27T13:28:15.0","startLatitude":-21.339165586978197,"startLongitude":55.46707458794117,"distance":1975.76,"duration":741.0,"movingDuration":740.0,"elapsedDuration":741.0,"elevationGain":10.0,"elevationLoss":13.0,"averageSpeed":2.6659998893737793,"averageMovingSpeed":2.6699459591427366,"maxSpeed":3.2939999103546147,"calories":137.0,"b[...]
    - id: 10
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/21680374805/split_summaries
        method: GET
      response:
        body: '{"activityId":21680374805,"activityUUID":{"uuid":"51759e58-64ff-4bcb-aa26-a6c80be56750"},"splitSummaries":[{"distance":1571.94,"duration":600.0,"movingDuration":599.0,"elevationGain":3.0,"elevationLoss":13.0,"aver[...]
