---
version: 2
interactions:
    - id: 0
      request:
        host: sso.garmin.com
        form:
            embedWidget:
                - "true"
            gauthHost:
                - https://sso.garmin.com/sso
            id:
                - gauth-widget
        headers:
        url: https://sso.garmin.com/sso/embed?embedWidget=true&gauthHost=https%3A%2F%2Fsso.garmin.com%2Fsso&id=gauth-widget
        method: GET
      response:
        body: |
            <html>
            	<head>
            	    <title>GAuth Embedded Version</title>
            	    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
            	    <style type="text/css">
            	    	#gauth-widget {border: none !important;}
            	    </style>
            	</head>
            	<body>
            		<script type="text/javascript" src="/sso/js/jquery/3.7.1/jquery.min.js?20210319"></script>

            <div>
            	<pre>
            	<span>ERROR: clientId parameter must be specified!!!</span>

            	<span >Usage: https://sso.garmin.com/sso/embed?clientId=&lt;clientId&gt;&amp;locale=&lt;locale&gt;...</span>

            	Request parameter configuration options:

            	NAME                           REQ  VALUES                                                   DESCRIPTION
            	------------------             ---  -------------------------------------------------------  -------------------------------------------[...]
    - id: 1
      request:
        host: sso.garmin.com
        form:
            embedWidget:
                - "true"
            gauthHost:
                - https://sso.garmin.com/sso/embed
            id:
                - gauth-widget
            redirectAfterAccountCreationUrl:
                - https://sso.garmin.com/sso/embed
            redirectAfterAccountLoginUrl:
                - https://sso.garmin.com/sso/embed
            service:
                - https://sso.garmin.com/sso/embed
            source:
                - https://sso.garmin.com/sso/embed
        headers:
        url: https://sso.garmin.com/sso/signin?embedWidget=true&gauthHost=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&id=gauth-widget&redirectAfterAccountCreationUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountLoginUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&service=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&source=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed
        method: GET
      response:
        body: "<!DOCTYPE html>\n<html lang=\"en\" class=\"no-js\">\n    <head>\n        <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n        <meta name=\"viewport\" content=\"width=device-width\" />\n        <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge;\" />\n        <title>GARMIN Authentication Application</title>\n        <link href=\"/sso/css/GAuth.css?20210406\" rel=\"stylesheet\" type=\"text/css\" media=\"all\" />\n\n\t    <link rel=\"stylesheet\" href=\"\"/>\n\n        <script type=\"text/javascript\" src=\"/sso/js/jquery/3.7.1/jquery.min.js?20210319\"></script>\n        <script type=\"text/javascript\">jQuery.noConflict();</script>\n\t\t<script type=\"text/javascript\" src=\"/sso/js/jquery-validate/1.16.0/jquery.validate.min.js?20210319\"></script>\n        <script type=\"text/javascript\" src=\"/sso/js/jsUtils.js[...]
    - id: 2
      request:
        host: sso.garmin.com
        body: '[REDACTED]'
        form:
            _csrf:
                - 5AD77E029425FED274AE0CBC4DE5DDBA2E225DC21343FDB1ECF1D6DD214DE5DA676F449EE7B859F33451F6E4AAC34C53DCE7
            embed:
                - "true"
            embedWidget:
                - "true"
            gauthHost:
                - https://sso.garmin.com/sso/embed
            id:
                - gauth-widget
            password:
                - '[REDACTED]'
            redirectAfterAccountCreationUrl:
                - https://sso.garmin.com/sso/embed
            redirectAfterAccountLoginUrl:
                - https://sso.garmin.com/sso/embed
            service:
                - https://sso.garmin.com/sso/embed
            source:
                - https://sso.garmin.com/sso/embed
            username:
                - '[REDACTED]'
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://sso.garmin.com/sso/signin?embedWidget=true&gauthHost=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&id=gauth-widget&redirectAfterAccountCreationUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountLoginUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&service=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&source=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed
        method: POST
      response:
        body: |
            <[...]
    - id: 3
      request:
        host: thegarth.s3.amazonaws.com
        url: https://thegarth.s3.amazonaws.com/oauth_consumer.json
        method: GET
      response:
        body: |-
            {
                "consumer_key": "fc3e99d2-118c-44b8-8ae3-03370dde24c0",
                "consumer_secret": "E08WAR897WEy2knn7aFBrvegVAf0AFdWBBF"
            }
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"20240b1013cb35419bb5b2cff1407a4e"'
            Last-Modified:
                - Thu, 03 Aug 2023 00:16:11 GMT
            X-Amz-Request-Id:
                - 7BSZPHJYZ45C7E69
            X-Amz-Server-Side-Encryption:
                - AES256
        status: 200 OK
        code: 200
        duration: 884.551027ms
    - id: 4
      request:
        host: connectapi.garmin.com
        form:
            accepts-mfa-tokens:
                - "true"
            login-url:
                - https://sso.garmin.com/sso/embed
            ticket:
                - '[REDACTED]'
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/oauth-service/oauth/preauthorized?ticket=[REDACTED]&login-url=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&accepts-mfa-tokens=true
        method: GET
      response:
        body: oauth_token=[REDACTED]&oauth_token_secret=[REDACTED]
        headers:
            Content-Type:
                - text/plain;charset=utf-8
        status: 200 OK
        code: 200
        duration: 840.235465ms
    - id: 5
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://connectapi.garmin.com/oauth-service/oauth/exchange/user/2.0
        method: POST
      response:
        body: '{"scope":"GARMINPAY_WRITE ATP_READ GHS_SAMD INSIGHTS_READ CIQ_APPSTORE_SERVICES_CREATE COMMUNITY_COURSE_WRITE GCOFFER_WRITE DT_CLIENT_ANALYTICS_WRITE CIQ_APPSTORE_SERVICES_DELETE OMT_SUBSCRIPTION_READ CONNECT_READ COMMUNITY_COURSE_READ GOLF_API_READ GHS_UPLOAD DIVE_API_READ CIQ_APPSTORE_SERVICES_READ CIQ_APPSTORE_SERVICES_UPDATE CONNECT_WRITE CONNECT_MCT_DAILY_LOG_READ DI_OAUTH_2_AUTHORIZATION_CODE_CREATE GARMINPAY_READ GOLF_API_WRITE INSIGHTS_WRITE PRODUCT_SEARCH_READ OMT_CAMPAIGN_READ GCOFFER_READ ATP_WRITE","jti":"c86747fe-6168-42c4-972d-185706c58747","access_token":"[REDACTED]","token_type":"bearer","refresh_token":"[REDACTED]","expires_in":98385,"refresh_token_expires_in":2591999}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 358.703235ms
