---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/biometric/latestLactateThreshold
        method: GET
      response:
        body: '[{"userProfilePK":12345678,"version":1769455333539,"calendarDate":"2026-01-26T23:22:13.450","sequence":1769455333539,"speed":0.33611017,"hearRate":null,"heartRateCycling":null},{"userProfilePK":12345678,"version":1769455333539,"calendarDate":"2026-01-26T23:22:13.450","sequence":1769455333539,"speed":null,"hearRate":166,"heartRateCycling":null}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 314.542435ms
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/biometric/latestFunctionalThresholdPower/CYCLING
        method: GET
      response:
        body: '{"userProfilePK":12345678,"version":null,"calendarDate":null,"isStale":null,"sequence":null,"sport":null,"functionalThresholdPower":null,"biometricSourceType":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 309.105575ms
    - id: 2
      request:
        host: connectapi.garmin.com
        form:
            sport:
                - Running
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/biometric/powerToWeight/latest/2026-01-27?sport=Running
        method: GET
      response:
        body: '[{"userProfilePk":12345678,"calendarDate":"2026-01-27T10:06:56.496","origin":"weight","sport":"RUNNING","functionalThresholdPower":347,"weight":74.2,"powerToWeight":4.67654986522911,"ftpCreateTime":"2025-11-15T10:54:08.91","weightCreateTime":"2026-01-27T10:06:56.496","isStale":false}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 898.578436ms
    - id: 3
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - daily
            aggregationStrategy:
                - LATEST
            sport:
                - RUNNING
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/stats/lactateThresholdSpeed/range/2025-12-28/2026-01-27?sport=RUNNING&aggregation=daily&aggregationStrategy=LATEST
        method: GET
      response:
        body: '[{"from":"2026-01-26","until":"2026-01-26","series":"running","value":0.33611017,"updatedDate":"2026-01-26"}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.666831ms
    - id: 4
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - daily
            aggregationStrategy:
                - LATEST
            sport:
                - RUNNING
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/stats/lactateThresholdHeartRate/range/2025-12-28/2026-01-27?sport=RUNNING&aggregation=daily&aggregationStrategy=LATEST
        method: GET
      response:
        body: '[{"from":"2026-01-26","until":"2026-01-26","series":"running","value":166.0,"updatedDate":"2026-01-26"}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.961291ms
    - id: 5
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - daily
            aggregationStrategy:
                - LATEST
            sport:
                - RUNNING
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/stats/functionalThresholdPower/range/2025-12-28/2026-01-27?sport=RUNNING&aggregation=daily&aggregationStrategy=LATEST
        method: GET
      response:
        body: '[{"from":"2026-01-27","until":"2026-01-27","series":"running","value":347.0,"updatedDate":"2026-01-27"}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 367.608362ms
    - id: 6
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/heartRateZones/
        method: GET
      response:
        body: '[{"trainingMethod":"HR_RESERVE","restingHeartRateUsed":54,"lactateThresholdHeartRateUsed":166,"zone1Floor":121,"zone2Floor":134,"zone3Floor":148,"zone4Floor":161,"zone5Floor":175,"maxHeartRateUsed":188,"restingHrAutoUpdateUsed":true,"sport":"DEFAULT","changeState":"UNCHANGED"},{"trainingMethod":"HR_MAX","restingHeartRateUsed":54,"lactateThresholdHeartRateUsed":166,"zone1Floor":94,"zone2Floor":113,"zone3Floor":132,"zone4Floor":150,"zone5Floor":169,"maxHeartRateUsed":188,"restingHrAutoUpdateUsed":false,"sport":"RUNNING","changeState":"UNCHANGED"}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.900046ms
