---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/calendar-service/year/2026/month/0/day/28/start/1
        method: GET
      response:
        body: '{"startDate":"2026-01-26","endDate":"2026-02-01","numOfDaysInMonth":31,"calendarItems":[{"id":12345678,"groupId":null,"trainingPlanId":null,"itemType":"weight","activityTypeId":null,"wellnessActivityUuid":null,"title":null,"date":"2026-01-27","duration":null,"distance":null,"calories":null,"floorsClimbed":null,"avgRespirationRate":null,"unitOfPoolLength":null,"weight":74200.0,"difference":null,"courseId":null,"courseName":null,"sportTypeKey":null,"url":null,"isStart":null,"isRace":null,"recurrenceId":null,"isParent":null,"parentId":null,"userBadgeId":null,"badgeCategoryTypeId":null,"badgeCategoryTypeDesc":null,"badgeAwardedDate":null,"badgeViewed":null,"hideBadge":null,"startTimestampLocal":null,"eventTimeLocal":null,"diveNumber":null,"maxDepth":null,"avgDepth":null,"surfaceInterval":null,"elapsedDuration":null,"lapCount":null,"bottomTime":null,"atpPlanId":null,"workoutId":null,"protectedWorkoutSchedule":false,"activeSets":null,"strokes":null,"noOfSplits":null,"maxGradeValue":null,"totalAscent":null,"differenceStress":null,"climbDuration":null,"maxSpeed":null,"averageHR":null,"activeSplitSummaryDuration":null,"activeSplitSummaryDistance":null,"maxSplitDistance":null,"maxSplitSpeed":null,"location":null,"shareableEventUuid":null,"splitSummaryMode":null,"completionTarget":null,"workoutUuid":null,"napStartTimeLocal":null,"beginPackWeight":null,"hasSplits":null,"primaryEvent":null,"shareableEvent":false,"autoCalcCalories":null,"subscribed":null,"phasedTrainingPlan":null,"decoDive":null},{"id":12345678,"groupId":null,"trainingPlanId":0,"itemType":"workout","activityTypeId":null,"wellnessActivityUuid":null,"title":"Zone 2 Easy Run","date":"2026-01-29","duration":null,"distance":null,"calories":null,"floorsClimbed":null,"avgRespirationRate":null,"unitOfPoolLength":null,"weight":null,"difference":null,"courseId":null,"courseName":null,"sportTypeKey":"running","url":null,"isStart":null,"isRace":null,"recurrenceId":null,"isParent":null,"parentId":null,"userBadgeId":null,"badgeC[...]
