---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/web-gateway/course/owner
        method: GET
      response:
        body: '{"coursesForUser":[{"courseId":87654321,"userProfileId":12345678,"displayName":"anonymous","userGroupId":null,"geoRoutePk":null,"activityType":{"typeId":3,"typeKey":"hiking","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":false},"courseName":"Anonymous Course","courseDescription":null,"createdDate":1770967543000,"updatedDate":1770967543000,"privacyRule":{"typeId":2,"typeKey":"private"},"distanceInMeters":7217.69,"elevationGainInMeters":277.86,"elevationLossInMeters":280.95,"startLatitude":48.8566,"startLongitude":2.3522,"speedInMetersPerSecond":0.0,"sourceTypeId":3,"sourcePk":null,"elapsedSeconds":null,"coordinateSystem":"WGS84","originalCoordinateSystem":"WGS84","consumer":null,"elevationSource":3,"hasShareableEvent":false,"hasPaceBand":false,"hasPowerGuide":false,"favorite":false,"hasTurnDetectionDisabled":false,"curatedCourseId":null,"startNote":null,"finishNote":null,"cutoffDuration":null,"createdDateFormatted":"2026-02-13 07:25:43.0 GMT","updatedDateFormatted":"2026-02-13 07:25:43.0 GMT","activityTypeId":{"typeId":3,"typeKey":"hiking","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":false},"public":false},{"courseId":87654321,"userProfileId":12345678,"displayName":"anonymous","userGroupId":null,"geoRoutePk":null,"activityType":{"typeId":3,"typeKey":"hiking","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":false},"courseName":"Anonymous Course","courseDescription":null,"createdDate":1752476456000,"updatedDate":1752476456000,"privacyRule":{"typeId":2,"typeKey":"private"},"distanceInMeters":5110.81,"elevationGainInMeters":211.36,"elevationLossInMeters":210.84,"startLatitude":[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/course-service/course/87654321
        method: GET
      response:
        body: '{"courseId":87654321,"courseName":"Anonymous Course","description":null,"openStreetMap":false,"matchedToSegments":false,"userProfilePk":12345678,"userGroupPk":null,"rulePK":2,"firstName":"Anonymous","lastName":"User","displayName":"anonymous","geoRoutePk":null,"sourceTypeId":3,"sourcePk":null,"distanceMeter":7217.69,"elevationGainMeter":277.86,"elevationLossMeter":280.95,"startPoint":{"latitude":48.8566,"longitude":2.3522,"elevation":100.0,"distance":null,"timestamp":null},"coursePoints":null,"boundingBox":{"center":null,"lowerLeft":{"latitude":48.8566,"longitude":2.3522},"upperRight":{"latitude":48.8566,"longitude":2.3522},"lowerLeftLatIsSet":true,"lowerLeftLongIsSet":true,"upperRightLatIsSet":true,"upperRightLongIsSet":true},"hasShareableEvent":false,"hasTurnDetectionDisabled":false,"activityTypePk":3,"virtualPartnerId":87654321,"includeLaps":false,"elapsedSeconds":null,"speedMeterPerSecond":null,"createDate":"2026-02-13T07:25:43.0","updateDate":"2026-02-13T07:25:43.0","courseLines":[{"courseId":87654321,"sortOrder":1,"numberOfPoints":52,"distanceInMeters":1187.61,"bearing":0.0,"points":null,"coordinateSystem":null,"originalCoordinateSystem":null},{"courseId":87654321,"sortOrder":2,"numberOfPoints":49,"distanceInMeters":1220.96,"bearing":0.0,"points":null,"coordinateSystem":null,"originalCoordinateSystem":null},{"courseId":87654321,"sortOrder":3,"numberOfPoints":61,"distanceInMeters":1217.58,"bearing":0.0,"points":null,"coordinateSystem":null,"originalCoordinateSystem":null},{"courseId":87654321,"sortOrder":4,"numberOfPoints":57,"distanceInMeters":1204.55,"bearing":0.0,"points":null,"coordinateSystem":null,"originalCoordinateSystem":null},{"courseId":87654321,"sortOrder":5,"numberOfPoints":56,"distanceInMeters":1224.56,"bearing":0.0,"points":null,"coordinateSystem":null,"originalCoordinateSystem":null},{"courseId":87654321,"sortOrder":6,"numberOfPoints":61,"distanceInMeters":1162.4,"bearing":0.0,"points":null,"coordinateSystem":null,"originalCoordinateSystem":null}],"coordinateSystem":"WGS84","targetCoordinateSystem":"WGS84","originalCoordinateSystem":"WGS84","consumer":null,"elevationSource":3,"hasPaceBand":false,"hasPowerGuide":false,"favorite":false,"startNote":null,"finishNote":null,"cutoffDuration":null,"geoPoints":[{"latitude":48.8566,"longitude":2.3522,"elevation":100.0,"distance":0.0,"timestamp":1770967543000},{"latitude":48.8566,"longitude":2.3522,"elevation":100.0,"distance":25.49664674687668,"timestamp":1770967573596},{"latitude":48.8566,"longitude":2.3522,"elevation":100.0,"distance":56.878347441054686,"timestamp":1770967611254},{"latitude":48.8566,"longitude":2.3522,"elevation":100.0,"distance":85.93206232102466,"timestamp":1770967646118},{"latitude":48.8566,"longitude":2.3522,"elevation":100.0,"di[...]
