---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/web-gateway/course/owner
        method: GET
      response:
        body: '{"coursesForUser":[{"courseId":87654321,"userProfileId":12345678,"displayName":"anonymous","userGroupId":null,"geoRoutePk":null,"activityType":{"typeId":3,"typeKey":"hiking","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":false},"courseName":"Anonymous Course","courseDescription":null,"createdDate":1770967543000,"updatedDate":1770967543000,"privacyRule":{"typeId":2,"typeKey":"private"},"distanceInMeters":7217.69,"elevationGainInMeters":277.86,"elevationLossInMeters":280.95,"startLatitude":48.8566,"startLongitude":2.3522,"speedInMetersPerSecond":0.0,"sourceTypeId":3,"sourcePk":null,"elapsedSeconds":null,"coordinateSystem":"WGS84","originalCoordinateSystem":"WGS84","consumer":null,"elevationSource":3,"hasShareableEvent":false,"hasPaceBand":false,"hasPowerGuide":false,"favorite":false,"hasTurnDetectionDisabled":false,"curatedCourseId":null,"startNote":null,"finishNote":null,"cutoffDuration":null,"createdDateFormatted":"2026-02-13 07:25:43.0 GMT","updatedDateFormatted":"2026-02-13 07:25:43.0 GMT","activityTypeId":{"typeId":3,"typeKey":"hiking","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":false},"public":false},{"courseId":87654321,"userProfileId":12345678,"displayName":"anonymous","userGroupId":null,"geoRoutePk":null,"activityType":{"typeId":3,"typeKey":"hiking","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":false},"courseName":"Anonymous Course","courseDescription":null,"createdDate":1752476456000,"updatedDate":1752476456000,"privacyRule":{"typeId":2,"typeKey":"private"},"distanceInMeters":5110.81,"elevationGainInMeters":211.36,"elevationLossInMeters":210.84,"startLatitude":[...]
