---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/fitnessage-service/stats/daily/2026-01-22/2026-01-29
        method: GET
      response:
        body: '[{"calendarDate":"2026-01-24","values":{"achievableFitnessAge":36.267153123465285,"vigorousDaysAvg":1.0,"fitnessAge":35.190810941555135,"rhr":52,"bmi":20.831024930747922}},{"calendarDate":"2026-01-25","values":{"achievableFitnessAge":36.267153123465285,"vigorousDaysAvg":1.0,"fitnessAge":35.190810941555135,"rhr":52,"bmi":20.831024930747922}},{"calendarDate":"2026-01-27","values":{"achievableFitnessAge":36.267153123465285,"vigorousDaysAvg":1.1666666666666667,"fitnessAge":34.99261838227663,"rhr":52,"bmi":20.554016620498615}},{"calendarDate":"2026-01-29","values":{"achievableFitnessAge":36.267153123465285,"vigorousDaysAvg":1.3333333333333333,"fitnessAge":34.99261838227663,"rhr":52,"bmi":20.554016620498615}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 340.136067ms
