---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - daily
            endDate:
                - "2026-01-29"
            groupByActivityType:
                - "false"
            groupByParentActivityType:
                - "false"
            metric:
                - duration
                - distance
                - calories
            standardizedUnits:
                - "false"
            startDate:
                - "2026-01-05"
            userFirstDay:
                - monday
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/fitnessstats-service/activity?aggregation=daily&userFirstDay=monday&startDate=2026-01-05&endDate=2026-01-29&groupByActivityType=false&standardizedUnits=false&groupByParentActivityType=false&metric=duration&metric=distance&metric=calories
        method: GET
      response:
        body: '[{"date":"2026-01-12","countOfActivities":1,"stats":{"all":{"duration":{"count":1,"min":7316017.08984375,"max":7316017.08984375,"avg":7316017.08984375,"sum":7316017.08984375},"distance":{"count":1,"min":461004.98046875,"max":461004.98046875,"avg":461004.98046875,"sum":461004.98046875},"calories":{"count":1,"min":2501.4419399999997,"max":2501.4419399999997,"avg":2501.4419399999997,"sum":2501.4419399999997}}}},{"date":"2026-01-19","countOfActivities":1,"stats":{"all":{"duration":{"count":1,"min":2671466.064453125,"max":2671466.064453125,"avg":2671466.064453125,"sum":2671466.064453125},"distance":{"count":1,"min":609185.009765625,"max":609185.009765625,"avg":609185.009765625,"sum":609185.009765625},"calories":{"count":1,"min":2061.4898399999997,"max":2061.4898399999997,"avg":2061.489839999[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - weekly
            endDate:
                - "2026-01-29"
            groupByActivityType:
                - "true"
            groupByParentActivityType:
                - "false"
            metric:
                - calories
            standardizedUnits:
                - "true"
            startDate:
                - "2026-01-05"
            userFirstDay:
                - monday
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/fitnessstats-service/activity?aggregation=weekly&userFirstDay=monday&startDate=2026-01-05&endDate=2026-01-29&groupByActivityType=true&standardizedUnits=true&groupByParentActivityType=false&metric=calories
        method: GET
      response:
        body: '[{"date":"2026-01-12","countOfActivities":1,"stats":{"hiking":{"calories":{"count":1,"min":2501.4419399999997,"max":2501.4419399999997,"avg":2501.4419399999997,"sum":2501.4419399999997}}}},{"date":"2026-01-19","countOfActivities":4,"stats":{"running":{"calories":{"count":4,"min":1814.27866,"max":2061.4898399999997,"avg":1891.7940299999998,"sum":7567.176119999999}}}},{"date":"2026-01-26","countOfActivities":1,"stats":{"running":{"calories":{"count":1,"min":1948.3592999999998,"max":1948.3592999999998,"avg":1948.3592999999998,"sum":1948.3592999999998}}}}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 359.8033ms
    - id: 2
      request:
        host: connectapi.garmin.com
        form:
            activityType:
                - running
            endDate:
                - "2026-01-29"
            metric:
                - startLocal
                - activityType
                - activitySubType
                - name
                - aerobicTrainingEffect
                - anaerobicTrainingEffect
            startDate:
                - "2026-01-05"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/fitnessstats-service/activity/all?startDate=2026-01-05&endDate=2026-01-29&activityType=running&metric=startLocal&metric=activityType&metric=activitySubType&metric=name&metric=aerobicTrainingEffect&metric=anaerobicTrainingEffect
        method: GET
      response:
        body: '[{"activityId":21597069417,"name":"Saint-Pierre Course à pied","aerobicTrainingEffect":3.5999999046325684,"anaerobicTrainingEffect":0.0,"startLocal":"2026-01-19T17:17:42","activityType":"running"},{"activityId":21619586459,"name":"Saint-Pierre Course à pied","aerobicTrainingEffect":3.5,"anaerobicTrainingEffect":0.5,"startLocal":"2026-01-21T18:10:41","activityType":"running"},{"activityId":21650901486,"name":"Saint-Pierre - Base","aerobicTrainingEffect":3.200000047683716,"anaerobicTrainingEffect":0.0,"startLocal":"2026-01-24T18:03:45","activityType":"running"},{"activityId":21661023200,"name":"Saint-Pierre - Base","aerobicTrainingEffect":3.4000000953674316,"anaerobicTrainingEffect":0.0,"startLocal":"2026-01-25T17:59:36","activityType":"running"},{"activityId":21680374805,"name":"Saint-Pierre - Threshold Intervals 6x2min","aerobicTrainingEffect":3.299999952316284,"anaerobicTrainingEffect":1.2000000476837158,"startLocal":"2026-01-27T17:28:07","activityType":"running"}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 352.364815ms
