---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/hrv-service/hrv/2026-01-27
        method: GET
      response:
        body: '{"userProfilePk":12345678,"hrvSummary":{"calendarDate":"2026-01-27","weeklyAvg":53,"lastNightAvg":56,"lastNight5MinHigh":72,"baseline":{"lowUpper":47,"balancedLow":49,"balancedUpper":56,"markerValue":0.53570557},"status":"BALANCED","feedbackPhrase":"HRV_BALANCED_2","createTimeStamp":"2026-01-27T02:40:24.187"},"hrvReadings":[{"hrvValue":47,"readingTimeGMT":"2026-01-26T19:30:37.0","readingTimeLocal":"2026-01-26T23:30:37.0"},{"hrvValue":53,"readingTimeGMT":"2026-01-26T19:35:37.0","readingTimeLocal":"2026-01-26T23:35:37.0"},{"hrvValue":52,"readingTimeGMT":"2026-01-26T19:40:37.0","readingTimeLocal":"2026-01-26T23:40:37.0"},{"hrvValue":54,"readingTimeGMT":"2026-01-26T19:45:37.0","readingTimeLocal":"2026-01-26T23:45:37.0"},{"hrvValue":58,"readingTimeGMT":"2026-01-26T19:50:37.0","readingTimeLocal":"2026-01-26T23:50:37.0"},{"hrvValue":53,"readingTimeGMT":"2026-01-26T19:55:37.0","readingTimeLocal":[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/hrv-service/hrv/daily/2026-01-20/2026-01-27
        method: GET
      response:
        body: '{"hrvSummaries":[{"calendarDate":"2026-01-20","weeklyAvg":48,"lastNightAvg":45,"lastNight5MinHigh":62,"baseline":{"lowUpper":47,"balancedLow":49,"balancedUpper":57,"markerValue":0.14430237},"status":"UNBALANCED","feedbackPhrase":"HRV_UNBALANCED_12","createTimeStamp":"2026-01-20T04:46:11.947"},{"calendarDate":"2026-01-21","weeklyAvg":48,"lastNightAvg":54,"lastNight5MinHigh":74,"baseline":{"lowUpper":47,"balancedLow":49,"balancedUpper":57,"markerValue":0.1401825},"status":"UNBALANCED","feedbackPhrase":"HRV_UNBALA[...]
