---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/trainingreadiness/2026-01-27
        method: GET
      response:
        body: '[{"userProfilePK":12345678,"calendarDate":"2026-01-27","timestamp":"2026-01-27T02:40:15.0","timestampLocal":"2026-01-27T06:40:15.0","deviceId":12345678,"level":"HIGH","feedbackLong":"HIGH_RT_AVAILABLE_SS_HIGHEST","feedbackShort":"RESTED_AND_READY","score":91,"sleepScore":96,"sleepScoreFactorPercent":96,"sleepScoreFactorFeedback":"VERY_GOOD","recoveryTime":0,"recoveryTimeFactorPercent":100,"recoveryTimeFactorFeedback":"VERY_GOOD","acwrFactorPercent":85,"acwrFactorFeedback":"GOOD","acuteLoad":249,"stressHistoryFactorPercent":87,"stressHistoryFactorFeedback":"GOOD","hrvFactorPercent":96,"hrvFactorFeedback":"GOOD","hrvWeeklyAverage":53,"sleepHistoryFactorPercent":69,"sleepHistoryFactorFeedback":"MODERATE","validSleep":true,"inputContext":"AFTER_WAKEUP_RESET","primaryActivityTracker":true,"recoveryTimeChangePhrase":"REACHED_ZERO","sleepHistoryFactorFeedbackPhrase":null,"hrvFactorFeedbackPhrase":null,"stressHistoryFactorFeedbackPhrase":null,"acwrFactorFeedbackPhrase":null,"recoveryTimeFactorFeedbackPhrase":null,"sleepScoreFactorFeedbackPhrase":null},{"userProfilePK":12345678,"calendarDate":"2026-01-27","timestamp":"2026-01-26T23:59:37.0","timestampLocal":"2026-01-27T03:59:37.0","deviceId":12345678,"level":"MODERATE","feedbackLong":"UNKNOWN","feedbackShort":"UNKNOWN","score":64,"sleepScore":null,"sleepScoreFactorPercent":0,"sleepScoreFactorFeedback":"NONE","recoveryTime":70,"recoveryTimeFactorPercent":98,"recoveryTimeFactorFeedback":"GOOD","acwrFactorPercent":85,"acwrFactorFeedback":"GOOD","acuteLoad":298,"stressHistoryFactorPercent":7[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        form:
            calendarDate:
                - "2026-01-27"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/endurancescore?calendarDate=2026-01-27
        method: GET
      response:
        body: '{"userProfilePK":12345678,"deviceId":12345678,"calendarDate":"2026-01-27","overallScore":5549,"classification":2,"feedbackPhrase":30,"primaryTrainingDevice":true,"gaugeLowerLimit":3570,"classificationLowerLimitIntermediate":5100,"classificationLowerLimitTrained":5800,"classificationLowerLimitWellTrained":6500,"classificationLowerLimitExpert":7200,"classificationLowerLimitSuperior":7900,"classificationLowerLimitElite":8600,"gaugeUpperLimit":10320,"contributors":[{"activityTypeId":null,"group":0,"contribution":94.29},{"activityTypeId":3,"group":null,"contribution":5.71},{"activityTypeId":null,"group":8,"contribution":0.0}]}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 330.136684ms
    - id: 2
      request:
        host: connectapi.garmin.com
        form:
            calendarDate:
                - "2026-01-27"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/hillscore?calendarDate=2026-01-27
        method: GET
      response:
        body: '{"userProfilePK":12345678,"deviceId":12345678,"calendarDate":"2026-01-27","strengthScore":7,"enduranceScore":11,"hillScoreClassificationId":2,"overallScore":32,"hillScoreFeedbackPhraseId":4,"vo2Max":50.0,"vo2MaxPreciseValue":50.1,"primaryTrainingDevice":true}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 388.485678ms
    - id: 3
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/maxmet/latest/2026-01-27
        method: GET
      response:
        body: '{"userId":12345678,"generic":{"calendarDate":"2026-01-25","vo2MaxPreciseValue":50.1,"vo2MaxValue":50.0,"fitnessAge":null,"fitnessAgeDescription":null,"maxMetCategory":0},"cycling":null,"heatAltitudeAcclimation":{"calendarDate":"2026-01-27","altitudeAcclimationDate":"2026-01-26","previousAltitudeAcclimationDate":"2026-01-26","heatAcclimationDate":"2026-01-26","previousHeatAcclimationDate":"2026-01-25","altitudeAcclimation":0,"previousAltitudeAcclimation":0,"heatAcclimationPercentage":100,"previousHeatAcclimationPercentage":100,"heatTrend":"ACCLIMATIZED","altitudeTrend":null,"currentAltitude":0,"previousAltitude":0,"acclimationPercentage":0,"previousAcclimationPercentage":0,"altitudeAcclimationLocalTimestamp":"2026-01-27T00:05:37.0"}}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 354.28049ms
    - id: 4
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/maxmet/daily/2025-12-28/2026-01-27
        method: GET
      response:
        body: '[{"userId":12345678,"generic":{"calendarDate":"2026-01-19","vo2MaxPreciseValue":50.4,"vo2MaxValue":50.0,"fitnessAge":null,"fitnessAgeDescription":null,"maxMetCategory":0},"cycling":null,"heatAltitudeAcclimatio[...]
    - id: 5
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/trainingstatus/aggregated/2026-01-27
        method: GET
      response:
        body: '{"userId":12345678,"mostRecentVO2Max":{"userId":12345678,"generic":{"calendarDate":"2026-01-25","vo2MaxPreciseValue":50.1,"vo2MaxValue":50.0,"fitnessAge":null,"fitnessAgeDescription":null,"maxMetCategory":0},"cycling":null,"heatAltitudeAcclimation":{"calendarDate":"2026-01-27","altitudeAcclimationDate":"2026-01-26","previousAltitudeAcclimationDate":"2026-01-26","heatAcclimationDate":"2026-01-26","previousHeatAcclimationDate":"2026-01-25","altitudeAcclimation":0,"previousAltitudeAcclimation":0,"heatAcclimationPercentage":100,"previousHeatAcclimationPercentage":100,"heatTrend":"ACCLIMATIZED","altitudeTrend":null,"currentAltitude":0,"previousAltitude":0,"acclimationPercentage":0,"previousAcclimationPercentage":0,"altitudeAcclimationLocalTimestamp":"2026-01-27T00:05:37.0"}},"mostRecentTrainingLoadBalance":{"userId":12345678,"metricsTrainingLoadBalanceDTOMap":{"3490854130":{"calendarDate":"2026-01-27","deviceId":12345678,"monthlyLoadAerobicLow":187.12384,"monthlyLoadAerobicHigh":209.70392,"monthlyLoadAnaerobic":0.0,"monthlyLoadAerobicLowTargetMin":186,"monthlyLoadAerobicLowTargetMax":449,"monthlyLoadAerobicHighTargetMin":295,"monthlyLoadAerobicHighTargetMax":558,"monthlyLoadAnaerobicTargetMin":0,"monthlyLoadAnaerobicTargetMax":262,"trainingBalanceFeedbackPhrase":"AEROBIC_HIGH_SHORTAGE","primaryTrainingDevice":true}},"recordedDevices":[{"deviceId":12345678,"imageURL":"https://res.garmin.com/en/products/010-02809-10/v/c1_01_md.png","deviceName":"Forerunner 965","category":0}]},"mostRecentTrainingStatus":{"userId":12345678,"latestTrainingStatusData":{"3490854130":{"calendarDate":"2026-01-27","sinceDate":"2026-01-25","weeklyTrainingLoad":null,"trainingStatus":7,"timestamp":1769481615000,"deviceId":12345678,"loadTunnelMin":null,"loadTunnelMax":null,"loadLevelTrend":null,"sport":null,"subSport":null,"fitnessTrendSport":"NONE","fitnessTrend":0,"trainingStatusFeedbackPhrase":"PRODUCTIVE_1","trainingPaused":false,"acuteTrainingLoadDTO":{"acwrPercent":47,"acwrStatus":"OPTIMAL","acwrStatusFeedback":"FEEDBACK_2","dailyTrainingLoadAcute":249,"maxTrainingLoadChronic":328.5,"minTrainingLoadChronic":175.20000000000002,"dailyTrainingLoadChronic":219,"dailyAcuteChronicWorkloadRatio":1.1},"primaryTrainingDevice":true}},"recordedDevices":[{"deviceId":12345678,"imageURL":"https://res.garmin.com/en/products/010-02809-10/v/c1_01_md.png","deviceName":"Forerunner 965","category":0}],"showSelector":false,"lastPrimarySyncDate":"2026-01-27"},"heatAltitudeAcclimationDTO":null}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 411.223258ms
    - id: 6
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/trainingstatus/daily/2026-01-27
        method: GET
      response:
        body: '{"userId":12345678,"latestTrainingStatusData":{"3490854130":{"calendarDate":"2026-01-27","sinceDate":"2026-01-25","weeklyTrainingLoad":null,"trainingStatus":7,"timestamp":1769481615000,"deviceId":12345678,"loadTunnelMin":null,"loadTunnelMax":null,"loadLevelTrend":null,"sport":null,"subSport":null,"fitnessTrendSport":"NONE","fitnessTrend":0,"trainingStatusFeedbackPhrase":"PRODUCTIVE_1","trainingPaused":false,"acuteTrainingLoadDTO":{"acwrPercent":47,"acwrStatus":"OPTIMAL","acwrStatusFeedback":"FEEDBACK_2","dailyTrainingLoadAcute":249,"maxTrainingLoadChronic":328.5,"minTrainingLoadChronic":175.20000000000002,"dailyTrainingLoadChronic":219,"dailyAcuteChronicWorkloadRatio":1.1},"primaryTrainingDevice":true}},"recordedDevices":[{"deviceId":12345678,"imageURL":"https://res.garmin.com/en/products/010-02809-10/v/c1_01_md.png","deviceName":"Forerunner 965","category":0}],"showSelector":false,"lastPrimarySyncDate":"2026-01-27"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 329.925911ms
    - id: 7
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/trainingloadbalance/latest/2026-01-27
        method: GET
      response:
        body: '{"userId":12345678,"metricsTrainingLoadBalanceDTOMap":{"3490854130":{"calendarDate":"2026-01-27","deviceId":12345678,"monthlyLoadAerobicLow":187.12384,"monthlyLoadAerobicHigh":209.70392,"monthlyLoadAnaerobic":0.0,"monthlyLoadAerobicLowTargetMin":186,"monthlyLoadAerobicLowTargetMax":449,"monthlyLoadAerobicHighTargetMin":295,"monthlyLoadAerobicHighTargetMax":558,"monthlyLoadAnaerobicTargetMin":0,"monthlyLoadAnaerobicTargetMax":262,"trainingBalanceFeedbackPhrase":"AEROBIC_HIGH_SHORTAGE","primaryTrainingDevice":true}},"recordedDevices":[{"deviceId":12345678,"imageURL":"https://res.garmin.com/en/products/010-02809-10/v/c1_01_md.png","deviceName":"Forerunner 965","category":0}]}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 336.936655ms
    - id: 8
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/heataltitudeacclimation/latest/2026-01-27
        method: GET
      response:
        body: '{"calendarDate":"2026-01-27","altitudeAcclimationDate":"2026-01-26","previousAltitudeAcclimationDate":"2026-01-26","heatAcclimationDate":"2026-01-26","previousHeatAcclimationDate":"2026-01-25","altitudeAcclimation":0,"previousAltitudeAcclimation":0,"heatAcclimationPercentage":100,"previousHeatAcclimationPercentage":100,"heatTrend":"ACCLIMATIZED","altitudeTrend":null,"currentAltitude":0,"previousAltitude":0,"acclimationPercentage":0,"previousAcclimationPercentage":0,"altitudeAcclimationLocalTimestamp":"2026-01-27T00:05:37.0"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 324.854609ms
