---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            date:
                - "2026-01-27"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/sleep-service/sleep/dailySleepData?date=2026-01-27
        method: GET
      response:
        body: '{"dailySleepDTO":{"id":12345678,"userProfilePK":12345678,"calendarDate":"2026-01-27","sleepTimeSeconds":25967,"napTimeSeconds":0,"sleepWindowConfirmed":true,"sleepWindowConfirmationType":"enhanced_confirmed_final","sleepStartTimestampGMT":1769455648000,"sleepEndTimestampGMT":1769481615000,"sleepStartTimestampLocal":1769470048000,"sleepEndTimestampLocal":1769496015000,"autoSleepStartTimestampGMT":null,"autoSleepEndTimestampGMT":null,"sleepQualityTypePK":null,"sleepResultTypePK":null,"unmeasurableSleepSeconds":0,"deepSleepSeconds":5700,"lightSleepSeconds":12480,"remSleepSeconds":7800,"awakeSleepSeconds":0,"deviceRemCapable":true,"retro":false,"sleepFromDevice":true,"averageSpO2Value":97.0,"lowestSpO2Value":88,"highestSpO2Value":100,"averageSpO2HRSleep":55.0,"averageRespirationValue":12.0,"lowestRespirationValue":9.0,"highestRespirationValue":16.0,"awakeCount":0,"avgSleepStress":12.0,"ageGroup":"ADULT","avgHeartRate":56.0,"sleepScoreFeedback":"POSITIVE_OPTIMAL_STRUCTURE","sleepScoreInsight":"NONE","sleepScorePersonalizedInsight":"STRESS_POS_EXCELLENT_OR_GOOD_SLEEP_RESTFUL_DAY","sleepScores":{"totalDuration":{"qualifierKey":"EXCELLENT","optimalStart":28200.0,"optimalEnd":28200.0},"stress":{"qualifierKey":"EXCELLENT","optimalStart":0.0,"optimalEnd":15.0},"awakeCount":{"qualifierKey":"EXCELLENT","optimalStart":0.0,"optimalEnd":1.0},"overall":{"value":96,"qualifierKey":"EXCELLENT"},"remPercentage":{"value":30,"qualifierKey":"GOOD","optimalStart":21.0,"optimalEnd":31.0,"idealStartInSeconds":5453.07,"idealEndInSeconds":8049.77},"restlessness":{"qualifierKey":"EXCELLENT","optimalStart":0.0,"optimalEnd":5.0},"lightPercentage":{"value":48,"qualifierKey":"EXCELLENT","optimalStart":30.0,"optimalEnd":64.0,"idealStartInSeconds":7790.1,"idealEndInSeconds":16618.88},"deepPercentage":{"value":22,"qualifierKey":"EXCELLENT","optimalStart":16.0,"optimalEnd":33.0,"idealStartInSeconds":4154.72,"idealEndInSeconds":8569.11}},"sleepVersion":2,"sleepNeed":{"userProfilePk":12345678,"calendarDate":"2026-01-27","deviceId":3490854130,"timestampGmt":"2026-01-26T11:25:23","baseline":470,"actual":470,"feedback":"NO_CHANGE_BALANCED","trainingFeedback":"HIGH_ACWR","sleepHistoryAdjustment":"DECREASING","hrvAdjustment":"NO_CHANGE","napAdjustment":"NO_CHANGE","displayedForTheDay":false,"preferredActivityTracker":true},"nextSleepNeed":{"userProfilePk":12345678,"calendarDate":"2026-01-28","deviceId":3490854130,"timestampGmt":"2026-01-27T02:40:15","baseline":470,"actual":470,"feedback":"NO_CHANGE_NO_ADJUSTMENTS","trainingFeedback":"NO_CHANGE","sleepHistoryAdjustment":"NO_CHANGE","hrvAdjustment":"NO_CHANGE","napAdjustment":"NO_CHANGE","displayedForTheDay":false,"preferredActivityTracker":true},"breathingDisruptionSeverity":"LOW"},"sleepMovement":[{"startGMT":"2026-01-26T18:27:00.0","endGMT":"2026-01-26T18:28:00.0","activityLevel":5.625700724110596},{"startGMT":"2026-01-26T18:28:00.0","endGMT":"2026-01-26T18:29:00.0","activityLevel":5.172409441633457},{"startGMT":"2026-01-26T18:29:00.0","endGMT":"2026-01-26T18:30:00.0","activityLevel":4.700834627720537},{"startGMT":"2026-01-26T18:30:00.0","endGMT":"2026-01-26T18:31:00.0","activityLevel":4.220818730501231},{"startGMT":"2026-01-26T18:31:00.0","endGMT":"2026-01-26T18:32:00.0","activityLevel":3.7427798419008083},{"startGMT":"2026-01-26T18:32:00.0","endGMT":"2026-01-26T18:33:0[...]
