---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/weight-service/weight/dayview/2026-01-27
        method: GET
      response:
        body: '{"startDate":"2026-01-27","endDate":"2026-01-27","dateWeightList":[{"samplePk":1769494024116,"date":1769508416496,"calendarDate":"2026-01-27","weight":74200.0,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"MANUAL","timestampGMT":1769494016496,"weightDelta":null}],"totalAverage":{"from":1769472000000,"until":1769558399999,"weight":74200.0,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 344.85214ms
    - id: 1
      request:
        host: connectapi.garmin.com
        form:
            includeAll:
                - "true"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/weight-service/weight/range/2025-12-28/2026-01-27?includeAll=true
        method: GET
      response:
        body: '{"dailyWeightSummaries":[{"summaryDate":"2026-01-27","numOfWeightEntries":1,"minWeight":74200.0,"maxWeight":74200.0,"latestWeight":{"samplePk":1769494024116,"date":1769508416496,"calendarDate":"2026-01-27","weight":74200.0,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"MANUAL","timestampGMT":1769494016496,"weightDelta":-1000.0},"allWeightMetrics":[{"samplePk":1769494024116,"date":1769508416496,"calendarDate":"2026-01-27","weight":74200.0,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"MANUAL","timestampGMT":1769494016496,"weightDelta":-1000.0}]}],"totalAverage":{"from":1766880000000,"until":1769558399999,"weight":74200.0,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null},"previousDateWeight":{"samplePk":1764645477134,"date":1764659867436,"calendarDate":"2025-12-02","weight":75200.0,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"MANUAL","timestampGMT":1764645467436,"weightDelta":null},"nextDateWeight":{"samplePk":null,"date":null,"calendarDate":null,"weight":null,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":null,"timestampGMT":null,"weightDelta":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 313.529148ms
