---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/wellness-service/wellness/daily/spo2/2026-01-27
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-01-27","startTimestampGMT":"2026-01-26T20:00:00.0","endTimestampGMT":"2026-01-27T06:04:00.0","startTimestampLocal":"2026-01-27T00:00:00.0","endTimestampLocal":"2026-01-27T10:04:00.0","sleepStartTimestampGMT":"2026-01-26T19:27:28.0","sleepEndTimestampGMT":"2026-01-27T02:40:15.0","sleepStartTimestampLocal":"2026-01-26T23:27:28.0","sleepEndTimestampLocal":"2026-01-27T06:40:15.0","tomorrowSleepStartTimestampGMT":null,"tomorrowSleepEndTimestampGMT":null,"tomorrowSleepStartTimestampLocal":null,"tomorrowSleepEndTimestampLocal":null,"averageSpO2":96.0,"lowestSpO2":88,"lastSevenDaysAvgSpO2":96.85714285714286,"latestSpO2":97,"latestSpO2TimestampGMT":"2026-01-27T02:40:00.0","latestSpO2TimestampLocal":"2026-01-27T06:40:00.0","avgSleepSpO2":97.0,"avgTomorrowSleepSpO2":null,"spO2ValueDescriptorsDTOList":[{"spo2ValueDescriptorIndex":0,"spo2ValueDescriptorKey":"timestamp"},{"spo2ValueDescriptorIndex":1,"spo2ValueDescriptorKey":"spo2Reading"},{"spo2ValueDescriptorIndex":2,"spo2ValueDescriptorKey":"singleReadingPlottable"}],"spO2SingleValues":null,"continuousReadingDTOList":null,"spO2HourlyAverages":[[1769457600000,96],[1769461200000,95],[1769464800000,97],[1769468400000,95],[1769472000000,95],[1769475600000,97],[1769479200000,96]]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 378.177321ms
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/wellness-service/wellness/daily/respiration/2026-01-27
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-01-27","startTimestampGMT":"2026-01-26T20:00:00.0","endTimestampGMT":"2026-01-27T06:04:00.0","startTimestampLocal":"2026-01-27T00:00:00.0","endTimestampLocal":"2026-01-27T10:04:00.0","sleepStartTimestampGMT":"2026-01-26T19:27:28.0","sleepEndTimestampGMT":"2026-01-27T02:40:15.0","sleepStartTimestampLocal":"2026-01-26T23:27:28.0","sleepEndTimestampLocal":"2026-01-27T06:40:15.0","tomorrowSleepStartTimestampGMT":null,"tomorrowSleepEndTimestampGMT":null,"tomorrowSleepStartTimestampLocal":null,"tomorrowSleepEndTimestampLocal":null,"lowestRespirationValue":8.0,"highestRespirationValue":21.0,"avgWakingRespirationValue":15.0,"avgSleepRespirationValue":12.0,"avgTomorrowSleepRespirationValue":null,"respirationValueDescriptorsDTOList":[{"key":"timestamp","index":0},{"key":"respiration","index":1}],"respirationValuesArray":[[1769457720000,11.0],[1769457840000,12.0],[1769457960000,11.0],[1769458080000,10.0],[1769458200000,12.0],[1769458320000,10.0],[1769458440000,10.0],[1769458560000,11.0],[1769458680000,12.0],[1769458800000,12.0],[1769458920000,12.0],[1769459040000,11.0],[1769459160000,10.0],[1769459280000,10.0],[1769459400000,10.0],[1769459520000,12.0],[1769459640000,12.0],[1769459760000,11.0],[1769459880000,11.0],[1769460000000,11.0],[1769460120000,12.0],[1769460240000,12.0],[1769460360000,13.0],[1769460480000,1[...]
    - id: 2
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/wellness-service/wellness/daily/im/2026-01-27
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-01-27","startTimestampGMT":"2026-01-26T20:00:00.0","endTimestampGMT":"2026-01-27T06:04:00.0","startTimestampLocal":"2026-01-27T00:00:00.0","endTimestampLocal":"2026-01-27T10:04:00.0","weeklyModerate":14,"weeklyVigorous":0,"weeklyTotal":14,"weekGoal":240,"dayOfGoalMet":null,"startDayMinutes":7,"endDayMinutes":14,"moderateMinutes":7,"vigorousMinutes":0,"imValueDescriptorsDTOList":[{"index":0,"key":"timestamp"},{"index":1,"key":"value"}],"imValuesArray":[[1769486400000,7]]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.836149ms
