---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/wellness-service/wellness/bodyBattery/events/2026-01-27
        method: GET
      response:
        body: '[{"event":{"eventType":"SLEEP","eventStartTimeGmt":"2026-01-26T19:27:28.0","timezoneOffset":14400000,"durationInMilliseconds":25920000,"bodyBatteryImpact":60,"feedbackType":"NONE","shortFeedback":"NONE"},"activityName":null,"activityType":null,"activityId":null,"averageStress":12.331035,"stressValueDescriptorsDTOList":[{"key":"timestamp","index":0},{"key":"stressLevel","index":1}],"stressValuesArray":[[1769455620000,13],[1769455800000,13],[1769455980000,14],[1769456160000,11],[1769456340000,10],[1769456520000,8],[1769456700000,5],[1769456880000,6],[1769457060000,8],[1769457240000,7],[1769457420000,7],[1769457600000,8],[1769457780000,8],[1769457960000,5],[1769458140000,11],[1769458320000,7],[1769458500000,5],[1769458680000,9],[1769458860000,9],[1769459040000,11],[1769459220000,6],[1769459400000,6],[1769459580000,7],[1769459760000,8],[1769459940000,9],[1769460120000,10],[1769460300000,8],[1769[...]
