---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            date:
                - "2026-01-27"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/wellness-service/wellness/dailyHeartRate/?date=2026-01-27
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-01-27","startTimestampGMT":"2026-01-26T20:00:00.0","endTimestampGMT":"2026-01-27T06:04:00.0","startTimestampLocal":"2026-01-27T00:00:00.0","endTimestampLocal":"2026-01-28T00:00:00.0","maxHeartRate":119,"minHeartRate":50,"restingHeartRate":51,"lastSevenDaysAvgRestingHeartRate":54,"heartRateValues":[[1769457600000,51],[1769457720000,51],[1769457840000,54],[1769457960000,52],[1769458080000,50],[1769458200000,59],[1769458320000,52],[1769458440000,50],[1769458560000,51],[1769458680000,51],[1769458800000,52],[1769458920000,54],[1769459040000,56],[1769459160000,55],[1769459280000,52],[1769459400000,53],[1769459520000,54],[1769459640000,54],[1769459760000,53],[1769459880000,54],[1769460000000,55],[1769460120000,54],[1769460240000,54],[1769460360000,54],[1769460480000,54],[1769460600000,54],[1769[...]
