---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "10"
            start:
                - "0"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/workout-service/workouts?start=0&limit=10
        method: GET
      response:
        body: '[{"workoutId":1454449384,"ownerId":12345678,"workoutName":"Test Zone 2 Format C","description":null,"updateDate":"2026-01-26T10:57:41.0","createdDate":"2026-01-26T10:57:41.0","sportType":{"sportTypeId":1,"sportTypeKey":"running","displayOrder":1},"trainingPlanId":null,"author":{"userProfilePk":null,"displayName":null,"fullName":null,"profileImgNameLarge":null,"profileImgNameMedium":null,"profileImgNameSmall":null,"userPro":false,"vivokidUser":false},"estimatedDurationInSecs":null,"estimatedDistanceInMeters":1000.0,"estimateType":null,"estimatedDistanceUnit":{"unitId":null,"unitKey":null,"factor":null},"poolLength":0.0,"poolLengthUnit":{"unitId":null,"unitKey":null,"factor":null},"workoutProvider":null,"workoutSourceId":null,"consumer":null,"atpPlanId":null,"workoutNameI18nKey":null,"descriptionI18nKey":null,"workoutThumbnailUrl":null,"shared":false,"estimated":true},{"workoutId":1454449353,"ownerId":12345678,"workoutName":"Test Zone 2 Format A","description":null,"updateDate":"2026-01-26T10:57:40.0","createdDate":"2026-01-26T10:57:40.0","sportType":{"sportTypeId":1,"sportTypeKey":"running","displayOrder":1},"trainingPlanId":null,"author":{"userProfilePk":null,"displayName":null,"fullName":null,"profileImgNameLarge":null,"profileImgNameMedium":null,"profileImgNameSmall":null,"userPro":false,"vivokidUser":false},"estimatedDurationInSecs":null,"estimated[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/workout-service/workout/1454449384
        method: GET
      response:
        body: '{"workoutId":1454449384,"ownerId":12345678,"workoutName":"Test Zone 2 Format C","description":null,"updatedDate":"2026-01-26T10:57:41.0","createdDate":"2026-01-26T10:57:41.0","sportType":{"sportTypeId":1,"sportTypeKey":"running","displayOrder":1},"subSportType":null,"trainingPlanId":null,"author":{"userProfilePk":12345678,"displayName":"anonymous","fullName":"Anonymous User","profileImgNameLarge":null,"profileImgNameMedium":"2d861fa9-abf1-4ce0-933a-1c1f3fe16633-prfr.png","profileImgNameSmall":"2d861fa9-abf1-4ce0-933a-1c1f3fe16633-prth.png","userPro":false,"vivokidUser":false},"sharedWithUsers":null,"estimatedDurationInSecs":null,"estimatedDistanceInMeters":1000.0,"workoutSegments":[{"segmentOrder":1,"sportType":{"sportTypeId":1,"sportTypeKey":"running","displayOrder":1},"poolLengthUnit":null,"poolLength":null,"avgTrainingSpeed":null,"estimatedDurationInSecs":null,"estimatedDistanceInMeters":null,"estimatedDistanceUnit":null,"estimateType":null,"description":null,"workoutSteps":[{"type":"ExecutableStepDTO","stepId":12230266602,"stepOrder":1,"stepType":{"stepTypeId":3,"stepTypeKey":"interval","displayOrder":3},"childStepId":null,"description":null,"endCondition":{"conditionTypeId":3,"conditionTypeKey":"distance","displayOrder":3,"displayable":true},"endConditionValue":1000.0,"preferredEndConditionUnit":null,"endConditionCompare":null,"targetType":{"workoutTargetTypeId":4,"workoutTargetTypeKey":"heart.rate.zone","displayOrder":4},"targetValueOne":null,"targetValueTwo":null,"targetValueUnit":null,"zoneNumber":null,"secondaryTargetType":null,"secondaryTargetValueOne":null,"secondaryTargetValueTwo":null,"secondaryTargetValueUnit":null,"secondaryZoneNumber":null,"endConditionZone":null,"strokeType":{"strokeTypeId":0,"strokeTypeKey":null,"displayOrder":0},"equipmentType":{"equipmentTypeId":0,"equipmentTypeKey":null,"displayOrder":0},"category":null,"exerciseName":null,"workoutProvider":null,"providerExerciseSourceId":null,"weightValue":null,"weightUnit":null}]}],"poolLength":null,"poolLengthUnit":null,"locale":null,"workoutProvider":null,"workoutSourceId":null,"uploadTimestamp":null,"atpPlanId":null,"consumer":null,"consumerName":null,"consumerImageURL":null,"consumerWebsiteURL":null,"workoutNameI18nKey":null,"descriptionI18nKey":null,"avgTrainingSpeed":0.0,"estimateType":null,"estimatedDistanceUnit":{"unitId":null,"unitKey":null,"factor":null},"workoutThumbnailUrl":null,"isSessionTransitionEnabled":null,"shared":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 346.595686ms
