---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "10"
            start:
                - "0"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/workout-service/workouts?start=0&limit=10
        method: GET
      response:
        body: '[{"workoutId":1456489305,"ownerId":12345678,"workoutName":"Zone 2 Easy Run","description":"Easy aerobic run, stay in Zone 2 (113-131 bpm). Extended cool-down walk for leg health.","updateDate":"2026-01-28T04:27:15.0","createdDate":"2026-01-28T04:23:21.0","sportType":{"sportTypeId":1,"sportTypeKey":"running","displayOrder":1},"trainingPlanId":null,"author":{"userProfilePk":null,"displayName":null,"fullName":null,"profileImgNameLarge":null,"profileImgNameMedium":null,"profileImgNameSmall":null,"userPro":false,"vivokidUser":false},"estimatedDurationInSecs":1500,"estimatedDistanceInMeters":0.0,"estimateType":"DISTANCE_ESTIMATED","estimatedDistanceUnit":{"unitId":12345678,"unitKey":"kilometer","factor":100000.0},"poolLength":0.0,"poolLengthUnit":{"unitId":null,"unitKey":null,"factor":null},"workoutProvider":null,"workoutSourceId":null,"consumer":null,"atpPlanId":null,"workoutNameI18nKey":null,"descriptionI18nKey":null,"workoutThumbnailUrl":null,"shared":false,"estimated":true},{"workoutId":1455872476,"ownerId":12345678,"workoutName":"Threshold Intervals 6x2min","description":"6x2min at Zone 4 (150-168bpm) with 90sec Zone 2 (113-131bpm) recovery. 10min warmup, 10min cooldown + 5min walk.","updateDate":"2026-01-27T13:03:07.0","createdDate":"2026-01-27T13:03:07.0","sportType":{"sportTypeId":1,"sportTypeKey":"running","displayOrder":1},"trainingPlanId":null,"author":{"userProfilePk":null,"displayName":null,"fullName":null,"profileImgNameLarge":null,"profileImgNameMedium":null,"profileImgNameSmall":null,"userPro":false,"vivokidUser":false},"estimatedDurationInSecs":2760,"estimatedDistanceInMeters":null,"estimateType":null,"estimatedDistanceUnit":{"unitId":null,"unitKey":null,"factor":null},"poolLength":0.0,"poolLengthUnit":{"unitId":null,"unitKey":null,"factor":null},"workoutProvider":null,"workoutSourceId":null,"consumer":null,"atpPlanId":null,"workoutNameI18nKey":null,"descriptionI18nKey":null,"workoutThumbnailUrl":null,"shared":false,"estimated":true}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 388.330051ms
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/workout-service/workout/1456489305
        method: GET
      response:
        body: '{"workoutId":1456489305,"ownerId":12345678,"workoutName":"Zone 2 Easy Run","description":"Easy aerobic run, stay in Zone 2 (113-131 bpm). Extended cool-down walk for leg health.","updatedDate":"2026-01-28T04:27:15.0","createdDate":"2026-01-28T04:23:21.0","sportType":{"sportTypeId":1,"sportTypeKey":"running","displayOrder":1},"subSportType":null,"trainingPlanId":null,"author":{"userProfilePk":12345678,"displayName":"anonymous","fullName":"Anonymous User","profileImgNameLarge":null,"profileImgNameMedium":"anonymous-profile-medium.png","profileImgNameSmall":"anonymous-profile-small.png","userPro":false,"vivokidUser":false},"sharedWithUsers":null,"estimatedDurationInSecs":1500,"estimatedDistanceInMeters":0.0,"workoutSegments":[{"segmentOrder":1,"sportType":{"sportTypeId":1,"sportTypeKey":"running","displayOrder":1},"poolLengthUnit":null,"poolLength":null,"avgTrainingSpeed":null,"estimatedDurationInSecs":null,"estimatedDistanceInMeters":null,"estimatedDistanceUnit":null,"estimateType":null,"description":null,"workoutSteps":[{"type":"ExecutableStepDTO","stepId":12253180286,"stepOrder":1,"stepType":{"stepTypeId":1,"stepTypeKey":"warmup","displayOrder":1},"childStepId":null,"description":null,"endCondition":{"conditionTypeId":2,"conditionTypeKey":"time","displayOrder":2,"displayable":true},"endConditionValue":300.0,"preferredEndConditionUnit":null,"endConditionCompare":null,"targetType":{"workoutTargetTypeId":1,"workoutTargetTypeKey":"no.target","displayOrder":1},"targetValueOne":null,"targetValueTwo":null,"targetValueUnit":null,"zoneNumber":null,"secondaryTargetType":null,"secondaryTargetValueOne":null,"secondaryTargetValueTwo":null,"secondaryTargetValueUnit":null,"secondaryZoneNumber":null,"endConditionZone":null,"strokeType":{"strokeTypeId":0,"strokeTypeKey":null,"displayOrder":0},"equipmentType":{"equipmentTypeId":0,"equipmentTypeKey":null,"displayOrder":0},"category":null,"exerciseName":null,"workoutProvider":null,"providerExerciseSourceId":null,"weightValue":null,"weightUnit":null},{"type":"ExecutableStepDTO","stepId":12253180287,"stepOrder":2,"stepType":{"stepTypeId":3,"stepTypeKey":"interval","displayOrder":3},"childStepId":null,"description":null,"endCondition":{"conditionTypeId":2,"conditionTypeKey":"time","displayOrder":2,"displayable":true},"endConditionValue":600.0,"preferredEndConditionUnit":null,"endConditionCompare":null,"targetType":{"workoutTargetTypeId":4,"workoutTargetTypeKey":"heart.rate.zone","displayOrder":4},"targetValueOne":null,"targetValueTwo":nu[...]
