---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "10"
            start:
                - "0"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/workout-service/workouts?start=0&limit=10
        method: GET
      response:
        body: '[{"workoutId":1458299409,"ownerId":12345678,"workoutName":"Entraînement de musculation","description":null,"updateDate":"2026-01-30T10:59:25.0","createdDate":"2026-01-30T10:59:25.0","sportType":{"sportTypeId":5,"sportTypeKey":"strength_training","displayOrder":5},"trainingPlanId":null,"author":{"userProfilePk":null,"displayName":null,"fullName":null,"profileImgNameLarge":null,"profileImgNameMedium":null,"profileImgNameSmall":null,"userPro":false,"vivokidUser":false},"estimatedDurationInSecs":0,"estimatedDistanceInMeters":0.0,"estimateType":null,"estimatedDistanceUnit":{"unitId":null,"unitKey":null,"factor":null},"poolLength":0.0,"poolLengthUnit":{"unitId":null,"unitKey":null,"factor":null},"workoutProvider":null,"workoutSourceId":null,"consumer":null,"atpPlanId":null,"workoutNameI18nKey":null,"descriptionI18nKey":null,"workoutThumbnailUrl":null,"shared":false,"estimated":true},{"workoutId":1456990741,"ownerId":12345678,"workoutName":"Zone 2 Long Run","description":"Longer easy aerobic run in Zone 2 (128-141 bpm Karvonen). Extended duration for weekly long run. Walking cooldown for leg health.","updateDate":"2026-01-28T18:07:49.0","createdDate":"2026-01-28T18:02:18.0","sportType":{"sportTypeId":1,"sportTypeKey":"running","displayOrder":1},"trainingPlanId":null,"author":{"userProfilePk":null,"displayName":null,"fullName":null,"profileImgNameLarge":null,"profileImg[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/workout-service/workout/1458299409
        method: GET
      response:
        body: '{"workoutId":1458299409,"ownerId":12345678,"workoutName":"Entraînement de musculation","description":null,"updatedDate":"2026-01-30T10:59:25.0","createdDate":"2026-01-30T10:59:25.0","sportType":{"sportTypeId":5,"sportTypeKey":"strength_training","displayOrder":5},"subSportType":null,"trainingPlanId":null,"author":{"userProfilePk":12345678,"displayName":"anonymous","fullName":"Anonymous User","profileImgNameLarge":null,"profileImgNameMedium":"anonymous-profile-medium.png","profileImgNameSmall":"anonymous-profile-small.png","userPro":false,"vivokidUser":false},"sharedWithUsers":null,"estimatedDurationInSecs":0,"estimatedDistanceInMeters":0.0,"workoutSegments":[{"segmentOrder":1,"sportType":{"sportTypeId":5,"sportTypeKey":"strength_training","displayOrder":5},"poolLengthUnit":null,"poolLength":null,"avgTrainingSpeed":null,"estimatedDurationInSecs":null,"estimatedDistanceInMeters":null,"estimatedDistanceUnit":null,"estimateType":null,"description":null,"workoutSteps":[{"type":"ExecutableStepDTO","stepId":12274522371,"stepOrder":1,"stepType":{"stepTypeId":1,"stepTypeKey":"warmup","displayOrder":1},"childStepId":null,"description":null,"endCondition":{"conditionTypeId":10,"conditionTypeKey":"reps","displayOrder":10,"displayable":true},"endConditionValue":10.0,"preferredEndConditionUnit":null,"endConditionCompare":null,"targetType":{"workoutTargetTypeId":1,"workoutTargetTypeKey":"no.target","displayOrder":1},"targetValueOne":null,"targetValueTwo":null,"targetValueUnit":null,"zoneNumber":null,"secondaryTargetType":null,"secondaryTargetValueOne":null,"secondaryTargetValueTwo":null,"secondaryTargetValueUnit":null,"secondaryZoneNumber":null,"endConditionZone":null,"strokeType":{"strokeTypeId":0,"strokeTypeKey":null,"displayOrder":0},"equipmentType":{"equipmentTypeId":0,"equipmentTypeKey":null,"displayOrder":0},"category":"ROW","exerciseName":"BANDED_FACE_PULLS","workoutProvider":null,"providerExerciseSourceId":null,"weightValue":null,"weightUnit":null},{"type":"ExecutableStepDTO","stepId":12274522372,"stepOrder":2,"stepType":{"stepTypeId":3,"stepTypeKey":"interval","displayOrder":3},"childStepId":null,"description":null,"endCondition":{"conditionTypeId":10,"conditionTypeKey":"reps","displayOrder":10,"displayable":true},"endConditionValue":10.0,"preferredEndConditionUnit":null,"endConditionCompare":null,"targetType":{"workoutTargetTypeId":1,"workoutTargetTypeKey":"no.target","displayOrder":1},"targetValueOne":null,"targetValueTwo":null,"targetValueUnit":null,"zoneNumber":null,"secondaryTargetType":null,"secondaryTargetValueOne":null,"secondaryTargetValueTwo":null,"secondaryTargetValueUnit":null,"secondaryZoneNumber":null,"endConditionZone":null,"strokeType":{"strokeTypeId":0,"strokeTypeKey":null,"displayOrder":0},"equipmentType":{"equipmentTypeId":0,"equipmentTypeKey":null,"displayOrder":0},"category":"BANDED_EXERCISES","exerciseName":"BICYCLE_CRUNCH","workoutProvider":null,"providerExerciseSourceId":null,"weightValue":null,"weightUnit":null},{"type":"RepeatGroupDTO","stepId":12274522373,"stepOrder":3,"stepType":{"stepTypeId":6,"stepTypeKey":"repeat","displayOrder":6},"childStepId":1,"numberOfIterations":3,"workoutSteps":[{"type":"ExecutableStepDTO","stepId":12274522374,"stepOrder":4,"stepType":{"stepTypeId":3,"stepTypeKey":"interval","displayOrder":3},"childStepId":1,"description":null,"endCondition":{"conditionTypeId":10,"conditionTypeKey":"reps","displayOrder":10,"displayable":true},"endConditionValue":10.0,"preferredEndConditionUnit":null,"endConditionCompare":null,"targetType":{"workoutTargetTypeId":1,"workoutTargetTypeKey":"no.target","displayOrder":1},"targetValueOne":null,"targetValueTwo[...]
[...]
